<footer>
    <div class="content flex">
        <a href="" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <ul class="menu">
            <li><a href="" title="GUARDIAN NETWORK EXTENSION">GUARDIAN NETWORK EXTENSION</a></li>
            <li><a href="" title="PROACTIVE SCAM DETECTOR">PROACTIVE SCAM DETECTOR</a></li>
            <li><a href="" title="CLOUD HOSTING SERVICE">CLOUD HOSTING SERVICE</a></li>
        </ul>
        <div class="get-app">
            <p class="text-lg">Ready to explore the internet with peace of mind?</p>
            <a href="" title="" class="btn-pr">ENTER APP</a>
        </div>
    </div>
    <div class="text"><img src="./assets/img/text.png" alt=""></div>
</footer>