<footer>
    <div class="content flex">
        <a href="" title="" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <ul class="menu">
            <li><a href="" title="HOME">HOME</a></li>
            <li><a href="" title="ABOUT">ABOUT</a></li>
            <li><a href="" title="DOCS">DOCS</a></li>
            <li><a href="" title="ROADMAP">ROADMAP</a></li>
        </ul>
        <div class="get-app">
            <p class="text-lg">Ready to explore the internet with peace of mind?</p>
            <a href="" title="" class="btn-pr">ENTER APP</a>
        </div>
    </div>
    <div class="text"><img src="./assets/img/text.png" alt=""></div>
</footer>