<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="/deorbit/build/home" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav flex">
                <li><a href="/guardian/build/home" title="Home">Home</a></li>
                <li><a href="" title="ABOUT">ABOUT</a></li>
                <li><a href="" title="DOCS">DOCS</a></li>
                <li><a href="" title="ROADMAP">ROADMAP</a></li>
            </ul>
            <a href="" title="" class="btn-pr">ENTER APP</a>
        </div>
    </nav>
</header>
