<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggle" type="button"><span class="navbar-toggler-icon"></span></button>
        <a href="/deorbit/build/home" class="logo"><img src="./assets/img/logo.png" alt=""></a>
        <div class="navbar-collapse">
            <ul class="navbar-nav nav-category flex">
                <li><a href="/guardian/build/vpn-extension" title="GUARDIAN NETWORK EXTENSION">GUARDIAN NETWORK EXTENSION</a></li>
                <li><a href="/guardian/build/proactive-scam-detector" title="PROACTIVE SCAM DETECTOR">PROACTIVE SCAM DETECTOR</a></li>
                <li><a href="" title="CLOUD HOSTING SERVICE">CLOUD HOSTING SERVICE</a></li>
            </ul>
            <a href="" title="" class="btn-pr">CONNECT WALLET</a>
        </div>
    </nav>
</header>
