<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
<div class="category">
    {% include "../share/header-1.html" %}
    {% block content %}{% endblock %}
    {% include "../share/footer-1.html" %}
</div>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/page_all.js"></script>
<script>
    $('.btn-scan').on('click',function (){
        $(this).addClass('active').html('').append('scaning');
       $('.wallet .scan-animation').addClass('active');
    });

    AOS.init({
        easing: 'ease-out-back',
        duration: 1000,
        once: true,
        offset: 30,
    });
</script>
</body>
</html>