<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/aos.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
{% include "../share/header.html" %}
{% block content %}{% endblock %}
{% include "../share/footer.html" %}
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/aos.js"></script>
<script src="./assets/js/slick.js"></script>
<script src="./assets/js/page_all.js"></script>
<script type="module" src="https://unpkg.com/@splinetool/viewer/build/spline-viewer.js"></script>
<script>
    const slider = $(".guide-list");
    slider
        .slick({
            infinite: false,
            speed: 500,
            slidesToShow: 1,
            arrows: false,
            dots: true
        });

    slider.on('wheel', (function(e) {
        e.preventDefault();

        if (e.originalEvent.deltaY < 0) {
            $(this).slick('slickPrev');
        } else {
            $(this).slick('slickNext');
        }
    }));


    //scroll effect
    $.fn.isInViewport = function () {
        var elementTop = $(this).offset().top;
        var elementBottom = elementTop + $(this).outerHeight() - 100;

        var viewportTop = $(window).scrollTop();
        var viewportBottom = viewportTop + $(window).height();

        return elementBottom > viewportTop && elementTop < viewportBottom;
    };
    $(window).on('resize scroll load', function () {
        $('.moviey').each(function () {
            if ($(this).isInViewport()) {
                $(this).addClass('active');
            }
        });
        $('.scan-animation').each(function () {
            if ($(this).isInViewport()) {
                $(this).addClass('active');
            }
        });
    });

    AOS.init({
        easing: 'ease-out-back',
        duration: 1000,
        once: true,
        offset: 30,
    });
</script>
<script type="module">
    import { Application } from 'https://unpkg.com/@splinetool/runtime@1.1.3/build/runtime.js';
    const canvas = document.getElementById('canvas3d');
    const app = new Application(canvas);

    const onLoad = () => {


    }

    app.start([212,114,64,149,166,115,99,104,101,109,97,165,115,99,101,110,101,166,102,114,97,109,101,115,166,115,104,97,114,101,100,167,118,101,114,115,105,111,110,204,113,212,114,65,147,167,111,98,106,101,99,116,115,167,112,117,98,108,105,115,104,166,115,116,121,108,101,115,212,3,0,145,212,114,66,148,162,102,105,162,105,100,164,100,97,116,97,168,99,104,105,108,100,114,101,110,1,217,36,97,50,49,56,102,99,99,51,45,50,55,54,98,45,52,57,98,57,45,98,52,56,53,45,52,57,48,51,55,102,100,49,52,102,53,102,212,114,67,220,0,22,164,116,121,112,101,166,115,116,97,116,101,115,166,101,118,101,110,116,115,167,118,105,115,105,98,108,101,171,114,97,121,99,97,115,116,76,111,99,107,167,112,104,121,115,105,99,115,172,112,97,116,104,83,110,97,112,112,105,110,103,168,112,111,115,105,116,105,111,110,168,114,111,116,97,116,105,111,110,165,115,99,97,108,101,172,104,105,100,100,101,110,77,97,116,114,105,120,166,99,108,111,110,101,114,175,98,97,99,107,103,114,111,117,110,100,67,111,108,111,114,174,112,111,115,116,112,114,111,99,101,115,115,105,110,103,163,102,111,103,173,103,108,111,98,97,108,80,104,121,115,105,99,115,167,97,109,98,105,101,110,116,162,97,111,166,115,104,97,100,111,119,167,112,117,98,108,105,115,104,166,99,97,109,101,114,97,164,110,97,109,101,164,80,97,103,101,214,105,0,0,0,8,212,2,0,144,214,105,0,0,0,9,212,2,0,144,195,194,212,114,68,156,167,101,110,97,98,108,101,100,169,102,117,115,101,100,66,111,100,121,169,114,105,103,105,100,66,111,100,121,167,100,101,110,115,105,116,121,169,112,111,105,110,116,77,97,115,115,172,103,114,97,118,105,116,121,83,99,97,108,101,168,102,114,105,99,116,105,111,110,167,100,97,109,112,105,110,103,171,114,101,115,116,105,116,117,116,105,111,110,172,99,111,108,108,105,100,101,114,84,121,112,101,175,101,110,97,98,108,101,100,82,111,116,97,116,105,111,110,178,101,110,97,98,108,101,100,84,114,97,110,115,108,97,116,105,111,110,170,118,105,115,105,98,105,108,105,116,121,194,170,112,111,115,105,116,105,111,110,101,100,1,0,1,203,63,224,0,0,0,0,0,0,0,203,63,201,153,153,153,153,153,154,166,99,111,110,118,101,120,214,105,0,0,0,10,147,195,195,195,214,105,0,0,0,11,147,195,195,195,214,105,0,0,0,12,212,114,69,148,166,112,97,116,104,73,100,165,115,108,105,100,101,166,111,102,102,115,101,116,171,111,114,105,101,110,116,97,116,105,111,110,192,0,0,170,116,97,110,103,101,110,116,105,97,108,147,0,0,0,214,105,0,0,0,13,147,0,0,0,214,105,0,0,0,14,147,1,1,1,214,105,0,0,0,15,220,0,16,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,192,212,114,70,148,161,114,161,103,161,98,161,97,203,63,164,20,20,20,20,20,20,203,63,166,22,22,22,22,22,22,203,63,170,26,26,26,26,26,26,1,212,114,71,153,167,101,110,97,98,108,101,100,170,112,105,120,101,108,97,116,105,111,110,165,98,108,111,111,109,179,99,104,114,111,109,97,116,105,99,65,98,101,114,114,97,116,105,111,110,168,118,105,103,110,101,116,116,101,173,104,117,101,83,97,116,117,114,97,116,105,111,110,178,98,114,105,103,104,116,110,101,115,115,67,111,110,116,114,97,115,116,172,100,101,112,116,104,79,102,70,105,101,108,100,165,110,111,105,115,101,194,212,114,72,148,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,171,103,114,97,110,117,108,97,114,105,116,121,1,16,194,15,212,114,73,152,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,169,105,110,116,101,110,115,105,116,121,169,98,108,117,114,83,99,97,108,101,178,108,117,109,105,110,97,110,99,101,84,104,114,101,115,104,111,108,100,178,108,117,109,105,110,97,110,99,101,83,109,111,111,116,104,105,110,103,170,107,101,114,110,101,108,83,105,122,101,1,16,194,1,1,203,63,208,0,0,0,0,0,0,203,63,153,153,153,153,153,153,154,3,212,114,74,148,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,166,111,102,102,115,101,116,1,13,194,146,2,2,212,114,75,149,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,168,100,97,114,107,110,101,115,115,166,111,102,102,115,101,116,1,13,194,1,0,212,114,76,149,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,163,104,117,101,170,115,97,116,117,114,97,116,105,111,110,1,13,194,3,0,212,114,77,149,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,170,98,114,105,103,104,116,110,101,115,115,168,99,111,110,116,114,97,115,116,1,13,194,203,63,208,0,0,0,0,0,0,0,212,114,78,150,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,171,102,111,99,97,108,76,101,110,103,116,104,173,102,111,99,117,115,68,105,115,116,97,110,99,101,170,98,111,107,101,104,83,99,97,108,101,1,13,194,20,204,100,5,212,114,79,147,167,111,112,97,99,105,116,121,173,98,108,101,110,100,70,117,110,99,116,105,111,110,167,101,110,97,98,108,101,100,1,16,194,212,114,80,149,167,101,110,97,98,108,101,100,178,117,115,101,66,97,99,107,103,114,111,117,110,100,67,111,108,111,114,165,99,111,108,111,114,164,110,101,97,114,163,102,97,114,194,194,212,114,81,147,161,114,161,103,161,98,1,1,1,203,63,185,153,153,153,153,153,154,205,7,208,212,114,82,146,170,117,115,101,80,104,121,115,105,99,115,167,103,114,97,118,105,116,121,194,246,212,114,83,147,167,101,110,97,98,108,101,100,165,99,111,108,111,114,169,105,110,116,101,110,115,105,116,121,195,81,203,63,234,122,122,122,122,122,122,203,63,234,122,122,122,122,122,122,203,63,234,122,122,122,122,122,122,203,63,232,0,0,0,0,0,0,212,114,84,149,169,111,99,99,108,117,115,105,111,110,169,97,111,70,117,108,108,82,101,115,166,114,97,100,105,117,115,164,98,105,97,115,167,97,111,67,111,108,111,114,194,194,205,1,0,203,63,224,0,0,0,0,0,0,81,203,63,201,25,25,25,25,25,26,203,63,201,25,25,25,25,25,26,203,63,201,25,25,25,25,25,26,212,114,85,145,177,115,111,102,116,83,104,97,100,111,119,81,117,97,108,105,116,121,163,108,111,119,212,114,86,146,170,112,108,97,121,67,97,109,101,114,97,177,103,97,109,101,67,111,110,116,114,111,108,79,98,106,101,99,116,175,112,101,114,115,111,110,97,108,32,99,97,109,101,114,97,192,212,114,87,220,0,18,166,115,116,97,116,101,115,166,101,118,101,110,116,115,167,118,105,115,105,98,108,101,171,114,97,121,99,97,115,116,76,111,99,107,167,112,104,121,115,105,99,115,172,112,97,116,104,83,110,97,112,112,105,110,103,168,112,111,115,105,116,105,111,110,168,114,111,116,97,116,105,111,110,165,115,99,97,108,101,172,104,105,100,100,101,110,77,97,116,114,105,120,166,99,108,111,110,101,114,163,102,97,114,164,116,121,112,101,171,112,101,114,115,112,101,99,116,105,118,101,172,111,114,116,104,111,103,114,97,112,104,105,99,162,117,112,177,105,115,85,112,86,101,99,116,111,114,70,108,105,112,112,101,100,172,116,97,114,103,101,116,79,102,102,115,101,116,144,144,195,194,68,170,118,105,115,105,98,105,108,105,116,121,195,170,112,111,115,105,116,105,111,110,101,100,1,0,1,203,63,224,0,0,0,0,0,0,0,203,63,201,153,153,153,153,153,154,166,99,111,110,118,101,120,147,195,195,195,147,195,195,195,69,192,0,0,170,116,97,110,103,101,110,116,105,97,108,147,203,64,84,101,80,108,21,118,233,203,192,86,171,203,119,67,159,83,203,64,145,104,20,108,145,219,11,147,0,0,0,147,1,1,1,220,0,16,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,192,206,0,1,134,160,178,79,114,116,104,111,103,114,97,112,104,105,99,67,97,109,101,114,97,212,114,88,147,164,110,101,97,114,163,102,111,118,164,122,111,111,109,204,70,45,1,212,114,89,146,164,110,101,97,114,164,122,111,111,109,210,255,254,121,96,203,64,20,166,54,78,137,37,93,147,0,1,0,194,205,3,232,167,83,99,101,110,101,32,49,147,66,203,192,14,75,248,146,232,153,171,217,36,102,54,101,102,49,52,52,51,45,57,53,52,56,45,52,51,98,48,45,56,101,99,52,45,57,97,57,52,51,100,99,49,54,48,98,98,212,114,90,157,164,110,97,109,101,164,116,121,112,101,166,115,116,97,116,101,115,166,101,118,101,110,116,115,167,118,105,115,105,98,108,101,171,114,97,121,99,97,115,116,76,111,99,107,167,112,104,121,115,105,99,115,172,112,97,116,104,83,110,97,112,112,105,110,103,168,112,111,115,105,116,105,111,110,168,114,111,116,97,116,105,111,110,165,115,99,97,108,101,172,104,105,100,100,101,110,77,97,116,114,105,120,166,99,108,111,110,101,114,174,69,108,108,105,112,115,101,32,67,108,111,110,101,115,165,69,109,112,116,121,214,105,0,0,0,1,212,2,0,144,214,105,0,0,0,4,212,2,0,144,195,194,214,105,0,0,0,5,68,170,118,105,115,105,98,105,108,105,116,121,195,170,112,111,115,105,116,105,111,110,101,100,1,0,1,203,63,224,0,0,0,0,0,0,0,203,63,201,153,153,153,153,153,154,166,99,111,110,118,101,120,147,195,195,195,147,195,195,195,214,105,0,0,0,2,69,192,0,0,170,116,97,110,103,101,110,116,105,97,108,147,203,64,80,131,114,77,3,182,211,203,192,88,131,128,163,59,124,192,0,214,105,0,0,0,6,147,0,0,0,214,105,0,0,0,7,147,1,1,1,214,105,0,0,0,3,220,0,16,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1,192,220,0,100,212,114,91,148,162,105,100,162,102,105,164,100,97,116,97,168,99,104,105,108,100,114,101,110,217,36,99,99,56,55,51,98,99,57,45,57,52,55,101,45,52,48,51,56,45,98,52,54,52,45,101,53,101,98,51,97,101,100,98,51,52,101,0,212,114,92,159,166,115,116,97,116,101,115,166,101,118,101,110,116,115,167,118,105,115,105,98,108,101,171,114,97,121,99,97,115,116,76,111,99,107,167,112,104,121,115,105,99,115,172,112,97,116,104,83,110,97,112,112,105,110,103,168,112,111,115,105,116,105,111,110,168,114,111,116,97,116,105,111,110,165,115,99,97,108,101,172,104,105,100,100,101,110,77,97,116,114,105,120,166,99,108,111,110,101,114,169,99,111,109,112,111,110,101,110,116,169,111,118,101,114,114,105,100,101,115,164,116,121,112,101,164,110,97,109,101,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,76,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,212,114,93,144,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,48,144,91,217,36,52,56,51,48,49,57,56,49,45,101,56,48,56,45,52,102,98,98,45,56,52,101,54,45,57,54,51,56,97,100,57,51,53,57,53,52,1,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,76,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,49,144,91,217,36,97,49,102,56,50,99,51,99,45,50,101,56,57,45,52,57,102,102,45,98,102,53,52,45,52,52,98,99,55,57,54,50,99,97,55,101,2,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,76,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,50,144,91,217,36,51,55,51,54,98,97,100,101,45,55,101,50,101,45,52,97,57,102,45,97,102,100,56,45,98,55,51,57,50,97,101,51,51,55,51,51,3,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,76,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,51,144,91,217,36,98,98,56,49,101,52,100,52,45,55,56,50,97,45,52,102,100,98,45,56,57,48,99,45,51,48,54,98,56,100,48,57,49,52,55,55,4,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,91,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,52,144,91,217,36,56,52,52,102,56,99,100,101,45,100,99,49,52,45,52,55,99,55,45,57,52,53,97,45,48,56,55,51,99,48,57,54,97,102,100,52,5,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,91,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,53,144,91,217,36,50,56,57,101,50,98,98,51,45,54,57,99,97,45,52,98,53,51,45,56,99,98,54,45,99,98,97,54,48,51,49,50,102,99,102,55,6,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,91,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,54,144,91,217,36,54,57,52,51,50,56,101,52,45,101,52,50,52,45,52,99,54,49,45,98,56,56,55,45,48,52,55,57,97,53,98,52,54,101,52,97,7,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,91,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,55,144,91,217,36,101,102,51,98,50,57,99,98,45,52,97,49,51,45,52,99,50,52,45,97,54,49,50,45,98,98,98,99,56,99,49,50,50,97,100,101,8,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,106,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,56,144,91,217,36,100,51,102,52,53,53,48,98,45,48,50,49,48,45,52,50,100,52,45,56,56,49,57,45,98,52,51,98,102,57,101,101,53,99,57,50,9,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,106,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,167,67,108,111,110,101,32,57,144,91,217,36,101,57,56,52,100,51,100,99,45,53,100,57,50,45,52,98,54,48,45,97,101,55,56,45,99,53,56,98,99,55,97,56,98,98,56,102,10,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,106,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,48,144,91,217,36,97,52,56,101,102,101,53,54,45,57,50,52,54,45,52,54,57,48,45,57,48,55,54,45,100,101,99,101,55,52,50,57,98,99,101,52,11,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,106,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,49,144,91,217,36,98,53,51,102,55,54,102,49,45,55,50,100,101,45,52,102,50,99,45,57,102,99,100,45,51,100,49,50,101,52,100,98,52,49,99,99,12,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,121,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,50,144,91,217,36,50,49,48,97,51,101,99,102,45,49,52,54,48,45,52,54,49,50,45,97,55,102,51,45,100,102,55,49,97,100,99,102,101,97,98,53,13,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,121,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,51,144,91,217,36,50,49,102,98,56,54,53,52,45,51,56,49,56,45,52,48,102,100,45,56,48,54,56,45,97,55,99,57,101,51,51,101,97,98,52,53,14,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,121,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,52,144,91,217,36,102,56,55,49,51,53,55,48,45,49,50,102,99,45,52,102,51,99,45,97,99,101,50,45,48,98,53,97,57,53,98,98,102,56,97,99,15,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,209,255,121,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,53,144,91,217,36,51,102,57,48,48,101,101,57,45,100,54,97,53,45,52,49,97,101,45,57,53,101,51,45,53,49,56,99,99,99,50,101,97,55,52,52,16,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,136,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,54,144,91,217,36,102,54,56,99,57,54,98,51,45,57,56,55,55,45,52,51,51,98,45,97,54,53,48,45,50,51,100,98,101,99,98,97,101,50,57,54,17,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,136,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,55,144,91,217,36,52,53,98,97,99,51,54,101,45,102,53,102,56,45,52,57,56,51,45,57,53,50,54,45,102,98,97,54,101,100,57,48,48,101,53,51,18,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,136,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,56,144,91,217,36,53,56,102,53,55,53,53,57,45,54,48,57,99,45,52,56,51,97,45,56,52,54,99,45,49,99,52,49,56,52,97,55,98,99,98,57,19,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,136,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,49,57,144,91,217,36,52,102,53,50,99,48,100,48,45,51,48,49,51,45,52,100,102,49,45,97,53,51,99,45,56,101,53,51,54,51,102,48,100,50,57,51,20,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,151,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,48,144,91,217,36,49,99,55,50,56,56,99,101,45,97,102,99,97,45,52,99,48,97,45,56,99,49,57,45,48,53,48,50,100,53,48,54,101,50,54,51,21,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,151,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,49,144,91,217,36,56,57,49,49,97,53,97,52,45,100,99,99,99,45,52,55,97,57,45,56,52,49,102,45,57,48,97,102,99,55,48,49,52,55,101,50,22,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,151,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,50,144,91,217,36,48,99,57,97,57,51,52,98,45,55,53,56,48,45,52,101,57,51,45,57,52,56,57,45,100,52,51,50,100,97,50,101,55,53,99,99,23,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,151,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,51,144,91,217,36,101,51,101,101,97,99,56,99,45,57,56,97,48,45,52,52,48,99,45,98,99,55,101,45,99,100,102,101,53,97,101,102,56,98,53,102,24,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,166,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,52,144,91,217,36,102,57,99,48,98,52,100,100,45,102,53,57,100,45,52,101,55,56,45,56,97,52,51,45,48,54,48,48,102,50,54,53,97,97,56,49,25,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,166,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,53,144,91,217,36,97,52,102,50,51,53,100,51,45,56,51,100,56,45,52,98,49,51,45,57,49,56,52,45,52,99,99,57,56,51,97,49,101,52,49,98,26,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,166,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,54,144,91,217,36,102,102,55,53,102,48,100,50,45,55,56,49,56,45,52,97,102,53,45,56,53,49,49,45,57,98,97,53,56,54,53,51,97,98,57,51,27,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,166,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,55,144,91,217,36,55,52,56,50,52,101,48,99,45,99,56,97,55,45,52,54,55,98,45,56,53,50,49,45,52,101,102,52,49,50,49,101,54,54,56,54,28,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,181,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,56,144,91,217,36,100,52,54,100,52,99,57,56,45,52,98,49,54,45,52,102,101,54,45,57,55,99,57,45,50,102,102,49,56,98,48,97,52,53,53,50,29,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,181,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,50,57,144,91,217,36,52,51,52,57,101,98,48,50,45,50,51,54,48,45,52,100,52,50,45,98,48,54,50,45,101,53,55,56,54,50,99,97,50,52,48,98,30,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,181,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,48,144,91,217,36,102,50,48,97,99,52,48,97,45,98,49,53,55,45,52,57,100,56,45,97,101,48,50,45,99,102,101,53,48,53,100,102,57,57,98,102,31,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,181,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,49,144,91,217,36,55,97,51,50,51,50,54,55,45,102,52,49,100,45,52,52,50,50,45,98,98,52,55,45,56,100,102,98,97,101,48,52,99,98,56,101,32,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,196,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,50,144,91,217,36,97,52,55,53,100,97,97,55,45,56,57,102,102,45,52,48,101,99,45,56,98,53,54,45,55,102,48,101,102,56,100,48,99,97,57,101,33,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,196,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,51,144,91,217,36,55,98,54,54,53,56,97,100,45,51,50,53,98,45,52,53,97,97,45,98,55,98,97,45,97,51,53,99,57,51,54,100,53,98,51,102,34,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,196,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,52,144,91,217,36,97,52,56,100,53,49,98,49,45,54,48,99,100,45,52,99,51,101,45,57,57,49,54,45,56,102,101,50,54,98,48,99,52,51,101,97,35,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,196,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,53,144,91,217,36,100,55,97,100,99,48,101,52,45,98,53,48,97,45,52,100,53,52,45,98,101,99,50,45,51,100,101,102,55,56,53,50,53,99,56,55,36,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,211,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,54,144,91,217,36,54,54,101,49,49,102,100,98,45,48,101,101,49,45,52,53,100,98,45,97,48,52,49,45,49,97,57,48,56,53,48,49,57,50,56,56,37,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,211,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,55,144,91,217,36,99,54,55,57,50,57,102,98,45,53,50,51,55,45,52,102,100,97,45,56,101,98,51,45,98,56,56,54,48,98,51,97,54,55,53,57,38,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,211,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,56,144,91,217,36,97,50,100,51,56,57,48,101,45,50,55,56,97,45,52,98,52,51,45,57,98,102,57,45,50,100,97,51,100,49,100,100,55,98,48,56,39,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,208,211,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,51,57,144,91,217,36,98,55,51,98,57,101,55,48,45,48,97,48,98,45,52,51,102,100,45,57,53,57,102,45,55,55,50,55,102,50,97,57,49,101,50,51,40,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,226,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,48,144,91,217,36,102,52,102,101,102,55,55,101,45,102,56,54,55,45,52,102,97,49,45,97,97,98,48,45,99,51,101,97,51,57,56,55,55,50,100,55,41,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,226,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,49,144,91,217,36,48,100,101,53,53,99,98,98,45,51,102,55,50,45,52,99,55,51,45,56,51,48,99,45,100,97,99,97,101,101,57,56,101,53,99,101,42,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,226,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,50,144,91,217,36,49,53,57,49,99,56,56,101,45,57,56,102,53,45,52,99,56,99,45,57,50,56,102,45,98,53,101,98,50,51,55,57,52,54,102,53,43,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,226,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,51,144,91,217,36,101,100,48,48,51,101,54,56,45,51,56,97,53,45,52,51,48,49,45,57,102,57,97,45,100,52,54,54,99,102,55,53,100,55,56,102,44,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,241,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,52,144,91,217,36,102,98,49,99,48,55,57,55,45,55,49,102,56,45,52,97,52,52,45,98,57,51,48,45,99,50,57,52,55,99,98,97,99,102,101,101,45,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,241,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,53,144,91,217,36,49,49,48,49,102,52,102,50,45,53,53,48,97,45,52,52,51,54,45,56,56,98,49,45,55,55,52,48,53,101,49,48,49,56,53,57,46,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,241,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,54,144,91,217,36,55,99,49,97,101,100,50,55,45,57,50,50,53,45,52,51,98,55,45,56,49,99,98,45,54,102,51,49,48,101,57,48,97,53,56,49,47,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,241,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,55,144,91,217,36,54,52,51,50,53,51,56,50,45,50,99,54,53,45,52,98,57,53,45,98,57,51,98,45,50,54,101,97,54,100,49,53,97,51,99,57,48,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,0,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,56,144,91,217,36,50,50,100,55,101,56,98,50,45,100,49,99,56,45,52,100,49,51,45,56,57,102,56,45,57,56,56,53,52,57,48,56,53,51,98,51,49,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,0,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,52,57,144,91,217,36,50,51,57,99,55,49,50,55,45,51,55,102,53,45,52,98,48,102,45,57,56,48,102,45,101,51,56,52,101,52,102,51,55,51,55,57,50,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,0,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,48,144,91,217,36,98,99,49,56,99,53,97,51,45,51,102,102,57,45,52,53,52,53,45,97,50,102,101,45,49,50,98,55,56,52,100,54,56,102,98,48,51,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,0,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,49,144,91,217,36,55,49,101,52,56,56,51,101,45,51,98,102,48,45,52,53,57,48,45,98,97,55,56,45,51,51,57,51,53,98,97,50,102,57,50,101,52,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,15,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,50,144,91,217,36,102,53,49,51,100,55,52,54,45,57,57,51,49,45,52,99,97,53,45,98,54,57,99,45,49,102,98,56,98,51,99,57,49,57,99,55,53,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,15,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,51,144,91,217,36,102,100,57,97,98,53,48,49,45,102,50,49,101,45,52,49,98,102,45,97,49,102,101,45,100,97,99,102,48,48,49,57,50,48,102,48,54,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,15,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,52,144,91,217,36,52,50,49,55,57,50,57,101,45,57,99,53,97,45,52,97,50,48,45,97,99,54,102,45,50,53,52,56,51,101,98,51,54,97,102,55,55,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,15,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,53,144,91,217,36,54,55,99,56,48,99,56,98,45,100,98,51,52,45,52,54,49,49,45,56,56,55,53,45,56,56,51,101,52,53,54,102,54,100,56,99,56,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,30,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,54,144,91,217,36,56,100,48,52,99,99,102,53,45,54,97,54,48,45,52,102,52,99,45,97,50,54,55,45,57,52,48,56,48,48,53,54,56,56,52,52,57,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,30,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,55,144,91,217,36,101,54,101,101,54,101,51,102,45,56,99,53,52,45,52,50,51,100,45,56,51,52,51,45,50,100,97,48,50,52,56,98,48,53,48,102,58,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,30,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,56,144,91,217,36,48,48,55,57,97,100,50,102,45,52,101,97,55,45,52,101,56,55,45,56,54,55,54,45,102,53,101,98,54,55,57,55,100,56,100,56,59,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,30,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,53,57,144,91,217,36,55,52,102,53,57,56,56,57,45,51,55,48,101,45,52,49,52,97,45,97,97,56,49,45,52,54,49,54,99,102,57,52,50,52,51,98,60,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,45,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,48,144,91,217,36,97,99,56,57,98,52,102,98,45,102,57,101,52,45,52,53,53,50,45,97,97,55,99,45,100,52,57,102,48,52,54,49,98,57,52,102,61,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,45,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,49,144,91,217,36,55,50,100,55,53,54,54,57,45,53,98,48,52,45,52,100,48,56,45,97,98,51,99,45,54,55,53,52,100,99,49,54,57,52,51,50,62,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,45,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,50,144,91,217,36,57,51,51,52,50,52,50,102,45,102,55,54,48,45,52,55,54,54,45,98,50,52,101,45,53,54,51,48,99,100,102,101,49,48,51,49,63,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,45,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,51,144,91,217,36,54,54,52,101,50,97,51,50,45,56,99,98,51,45,52,100,99,53,45,98,98,56,101,45,101,100,99,57,49,97,51,99,48,52,48,49,204,64,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,60,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,52,144,91,217,36,98,48,100,97,57,54,57,48,45,56,97,50,102,45,52,49,53,52,45,98,101,50,54,45,99,53,57,98,53,102,48,54,101,99,102,102,204,65,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,60,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,53,144,91,217,36,49,50,55,54,52,55,54,100,45,57,55,100,52,45,52,97,100,101,45,98,57,55,97,45,50,53,56,102,98,97,56,52,101,55,48,99,204,66,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,60,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,54,144,91,217,36,55,50,48,52,98,97,98,97,45,98,49,53,48,45,52,101,101,102,45,97,102,52,52,45,100,99,54,100,49,102,56,56,52,50,56,100,204,67,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,60,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,55,144,91,217,36,48,48,52,97,48,54,101,48,45,55,50,51,55,45,52,48,100,52,45,98,49,53,98,45,98,50,97,100,98,100,49,54,98,55,50,55,204,68,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,75,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,56,144,91,217,36,50,57,55,49,102,56,49,101,45,99,100,48,55,45,52,57,100,101,45,57,100,53,55,45,56,49,52,102,52,55,52,48,97,48,98,53,204,69,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,75,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,54,57,144,91,217,36,52,48,97,49,54,55,53,97,45,100,49,56,101,45,52,54,56,54,45,57,56,51,102,45,102,55,51,48,54,56,54,56,54,55,56,50,204,70,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,75,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,48,144,91,217,36,98,102,50,57,54,48,54,100,45,56,97,99,53,45,52,56,50,97,45,57,98,101,53,45,55,57,101,57,100,100,51,53,99,98,50,100,204,71,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,75,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,49,144,91,217,36,101,56,98,101,49,102,98,48,45,48,100,51,54,45,52,48,57,97,45,97,97,48,100,45,48,100,98,102,48,54,49,50,98,49,50,54,204,72,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,90,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,50,144,91,217,36,54,50,101,52,55,55,97,56,45,100,56,52,97,45,52,50,101,50,45,57,56,97,50,45,52,99,48,54,50,56,48,55,51,57,55,48,204,73,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,90,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,51,144,91,217,36,56,97,97,102,98,56,98,51,45,51,51,54,51,45,52,98,53,97,45,56,50,53,99,45,54,53,97,56,100,52,56,54,100,101,57,56,204,74,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,90,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,52,144,91,217,36,51,99,102,100,48,48,97,101,45,52,57,101,98,45,52,102,57,51,45,97,49,54,56,45,48,48,50,100,98,51,55,102,99,98,54,52,204,75,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,90,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,53,144,91,217,36,102,53,48,53,102,98,98,50,45,53,51,98,57,45,52,48,55,102,45,57,50,49,99,45,101,98,101,52,53,51,48,56,51,102,98,49,204,76,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,105,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,54,144,91,217,36,51,48,48,57,49,97,99,100,45,53,100,101,56,45,52,101,101,53,45,97,56,52,98,45,57,100,98,102,55,98,55,100,99,52,101,52,204,77,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,105,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,55,144,91,217,36,102,48,54,97,100,50,50,51,45,57,48,51,56,45,52,53,56,102,45,56,50,99,48,45,48,97,99,100,99,54,52,52,57,54,50,49,204,78,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,105,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,56,144,91,217,36,51,52,102,51,101,49,55,54,45,56,97,54,98,45,52,100,57,50,45,56,55,56,99,45,56,52,101,48,102,101,101,55,48,101,56,100,204,79,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,105,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,55,57,144,91,217,36,54,54,57,97,48,52,53,101,45,57,54,102,98,45,52,57,49,56,45,56,101,102,57,45,51,55,99,49,98,54,49,56,99,57,56,50,204,80,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,120,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,48,144,91,217,36,57,99,55,55,56,99,56,100,45,57,51,48,100,45,52,57,99,53,45,97,100,51,57,45,51,57,98,101,98,102,100,53,53,51,57,98,204,81,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,120,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,49,144,91,217,36,49,98,100,48,56,53,50,56,45,49,54,57,97,45,52,50,98,56,45,57,53,97,49,45,97,52,55,98,97,54,101,56,100,99,57,48,204,82,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,120,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,50,144,91,217,36,99,55,48,97,56,48,56,56,45,101,52,51,48,45,52,55,54,97,45,57,57,49,57,45,53,101,52,101,56,48,57,54,51,52,54,52,204,83,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,120,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,51,144,91,217,36,52,101,52,97,53,53,48,100,45,99,98,50,51,45,52,55,56,102,45,97,53,102,98,45,102,54,55,48,51,55,57,100,51,100,54,52,204,84,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,135,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,52,144,91,217,36,48,53,100,100,48,52,57,54,45,51,98,101,98,45,52,98,54,99,45,56,97,100,97,45,53,55,98,102,51,52,101,98,102,52,52,57,204,85,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,135,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,53,144,91,217,36,51,56,48,97,49,50,101,97,45,51,100,98,51,45,52,52,51,99,45,97,54,100,57,45,97,55,50,53,51,100,56,98,56,51,56,55,204,86,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,135,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,54,144,91,217,36,54,54,101,101,101,50,57,49,45,101,102,101,48,45,52,50,54,101,45,97,57,49,98,45,97,97,52,97,51,57,98,51,100,48,98,57,204,87,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,135,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,55,144,91,217,36,56,97,56,55,50,49,51,54,45,52,53,49,101,45,52,51,97,99,45,98,53,50,57,45,101,49,52,49,50,57,97,56,51,98,102,56,204,88,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,150,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,56,144,91,217,36,101,52,101,102,57,99,52,98,45,102,54,53,98,45,52,100,52,56,45,97,100,99,57,45,102,54,100,53,102,55,48,97,50,48,101,49,204,89,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,150,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,56,57,144,91,217,36,98,102,51,51,102,49,100,52,45,50,53,99,48,45,52,49,50,55,45,56,99,98,99,45,48,49,102,53,48,101,55,48,100,100,100,53,204,90,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,150,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,48,144,91,217,36,48,98,51,55,51,48,97,53,45,49,53,101,49,45,52,97,102,98,45,57,102,56,100,45,101,99,97,101,98,102,50,52,99,52,48,97,204,91,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,150,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,49,144,91,217,36,100,56,55,98,48,51,52,56,45,56,54,55,54,45,52,48,48,49,45,56,50,48,54,45,56,101,48,56,98,101,98,100,99,49,100,54,204,92,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,165,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,50,144,91,217,36,52,98,56,101,52,100,102,56,45,51,100,51,97,45,52,48,51,52,45,56,50,101,57,45,97,53,99,54,102,49,102,98,102,100,48,97,204,93,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,165,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,51,144,91,217,36,55,55,102,57,53,48,55,48,45,54,99,48,99,45,52,57,52,99,45,56,53,102,97,45,101,54,49,101,99,57,98,48,55,97,51,54,204,94,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,165,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,52,144,91,217,36,100,48,56,53,51,55,99,48,45,56,101,48,57,45,52,101,51,49,45,98,56,49,99,45,57,101,97,100,49,52,101,52,51,49,57,54,204,95,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,165,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,53,144,91,217,36,55,55,53,57,52,101,56,48,45,54,57,97,49,45,52,97,97,50,45,98,97,56,51,45,55,54,57,102,52,98,97,51,101,55,57,98,204,96,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,180,241,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,54,144,91,217,36,100,53,102,53,100,97,101,102,45,102,53,49,53,45,52,49,56,101,45,98,98,51,102,45,101,101,98,99,53,48,51,102,56,56,57,97,204,97,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,180,0,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,55,144,91,217,36,99,55,99,56,97,50,52,53,45,97,100,53,50,45,52,100,56,57,45,57,98,57,101,45,53,98,101,50,99,54,50,52,57,54,48,56,204,98,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,180,15,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,56,144,91,217,36,50,97,99,98,53,101,55,102,45,99,52,49,49,45,52,54,57,53,45,98,98,99,55,45,48,56,55,55,54,54,51,57,100,48,53,49,204,99,92,214,112,0,0,0,1,212,0,0,195,194,212,0,0,214,112,0,0,0,2,147,204,180,30,0,147,0,0,0,147,1,1,1,214,112,0,0,0,3,192,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,212,6,0,93,168,73,110,115,116,97,110,99,101,168,67,108,111,110,101,32,57,57,144,66,203,192,10,169,178,61,8,170,140,217,36,51,55,48,54,53,57,100,50,45,52,48,48,57,45,52,99,50,52,45,56,49,54,50,45,53,55,102,55,56,53,55,57,97,56,49,49,90,167,69,108,108,105,112,115,101,169,67,111,109,112,111,110,101,110,116,214,112,0,0,0,1,214,112,0,0,0,4,195,194,214,112,0,0,0,5,214,112,0,0,0,2,147,203,64,80,131,114,77,3,182,211,203,192,88,131,128,163,59,124,192,0,214,112,0,0,0,6,214,112,0,0,0,7,214,112,0,0,0,3,192,145,66,203,63,225,199,200,170,146,25,31,217,36,102,102,100,51,102,55,100,48,45,97,54,56,53,45,52,101,101,48,45,98,50,54,49,45,55,101,99,57,48,48,54,56,102,54,50,57,212,114,94,220,0,20,166,115,116,97,116,101,115,166,101,118,101,110,116,115,167,118,105,115,105,98,108,101,164,116,121,112,101,171,114,97,121,99,97,115,116,76,111,99,107,167,112,104,121,115,105,99,115,172,112,97,116,104,83,110,97,112,112,105,110,103,168,112,111,115,105,116,105,111,110,168,114,111,116,97,116,105,111,110,165,115,99,97,108,101,172,104,105,100,100,101,110,77,97,116,114,105,120,166,99,108,111,110,101,114,171,102,108,97,116,83,104,97,100,105,110,103,169,119,105,114,101,102,114,97,109,101,164,115,105,100,101,170,99,97,115,116,83,104,97,100,111,119,173,114,101,99,101,105,118,101,83,104,97,100,111,119,168,103,101,111,109,101,116,114,121,168,109,97,116,101,114,105,97,108,164,110,97,109,101,212,2,0,144,212,2,0,145,212,114,95,147,162,102,105,162,105,100,164,100,97,116,97,203,63,222,200,101,77,150,184,72,217,36,102,102,53,97,98,102,55,54,45,54,100,55,57,45,52,48,97,53,45,56,49,97,100,45,97,99,51,50,52,97,51,98,57,102,51,50,212,114,96,220,0,16,164,116,121,112,101,168,100,105,115,97,98,108,101,100,167,97,99,116,105,111,110,115,168,100,105,115,116,97,110,99,101,173,100,97,109,112,105,110,103,70,97,99,116,111,114,166,116,97,114,103,101,116,164,116,105,108,116,164,97,120,105,115,165,112,108,97,110,101,179,114,101,115,101,116,79,110,80,111,105,110,116,101,114,76,101,97,118,101,183,114,101,115,101,116,65,102,116,101,114,68,105,115,116,97,110,99,101,76,105,109,105,116,175,101,110,97,98,108,101,100,82,111,116,97,116,105,111,110,180,108,105,109,105,116,68,105,115,116,97,110,99,101,69,110,97,98,108,101,100,173,108,105,109,105,116,68,105,115,116,97,110,99,101,169,115,110,97,112,68,101,108,97,121,170,114,101,115,101,116,83,112,101,101,100,166,76,111,111,107,65,116,194,212,2,0,144,205,3,32,1,166,99,117,114,115,111,114,162,117,112,161,122,166,99,117,115,116,111,109,195,195,147,195,195,195,194,205,3,232,0,5,195,164,77,101,115,104,194,68,170,118,105,115,105,98,105,108,105,116,121,195,170,112,111,115,105,116,105,111,110,101,100,1,0,1,203,63,224,0,0,0,0,0,0,0,203,63,201,153,153,153,153,153,154,166,99,111,110,118,101,120,147,195,195,195,147,195,195,195,69,192,0,0,170,116,97,110,103,101,110,116,105,97,108,147,0,0,0,214,112,0,0,0,6,214,112,0,0,0,7,214,112,0,0,0,3,212,114,97,154,168,100,105,115,97,98,108,101,100,164,116,121,112,101,168,104,105,100,101,66,97,115,101,165,99,111,117,110,116,166,114,97,100,105,97,108,168,116,111,79,98,106,101,99,116,166,108,105,110,101,97,114,164,103,114,105,100,170,114,97,110,100,111,109,110,101,115,115,176,114,97,110,100,111,109,110,101,115,115,79,98,106,101,99,116,195,164,103,114,105,100,194,3,212,114,98,152,166,114,97,100,105,117,115,165,115,116,97,114,116,163,101,110,100,169,97,108,105,103,110,109,101,110,116,164,97,120,105,115,165,115,99,97,108,101,168,114,111,116,97,116,105,111,110,168,112,111,115,105,116,105,111,110,2,0,205,1,104,194,161,121,147,1,1,1,147,0,0,0,147,0,0,0,212,114,99,153,166,111,98,106,101,99,116,170,115,112,114,101,97,100,84,121,112,101,165,115,99,97,108,101,168,114,111,116,97,116,105,111,110,168,112,111,115,105,116,105,111,110,164,97,120,105,115,164,115,101,101,100,165,99,111,117,110,116,165,97,108,105,103,110,160,166,114,97,110,100,111,109,147,0,0,0,147,0,0,0,147,0,0,0,161,120,0,204,99,166,110,111,114,109,97,108,212,114,100,147,165,115,99,97,108,101,168,114,111,116,97,116,105,111,110,168,112,111,115,105,116,105,111,110,147,1,1,1,147,0,0,0,147,203,63,241,153,153,153,153,153,154,0,0,212,114,101,147,165,99,111,117,110,116,164,115,105,122,101,169,117,115,101,67,101,110,116,101,114,147,25,4,1,147,15,15,203,64,73,76,204,204,204,204,205,195,194,212,114,102,152,168,115,116,114,101,110,103,116,104,165,115,99,97,108,101,168,114,111,116,97,116,105,111,110,168,112,111,115,105,116,105,111,110,168,109,111,118,101,109,101,110,116,164,115,101,101,100,169,102,114,101,113,83,99,97,108,101,169,110,111,105,115,101,84,121,112,101,204,100,147,0,0,0,147,0,0,0,147,0,0,0,1,0,10,166,112,101,114,108,105,110,194,194,0,195,195,212,114,103,153,165,119,105,100,116,104,165,100,101,112,116,104,166,115,112,105,107,101,115,165,97,110,103,108,101,171,105,110,110,101,114,82,97,100,105,117,115,176,101,120,116,114,117,100,101,66,101,118,101,108,83,105,122,101,180,101,120,116,114,117,100,101,66,101,118,101,108,83,101,103,109,101,110,116,115,166,104,101,105,103,104,116,164,116,121,112,101,1,46,204,64,205,1,104,0,0,1,1,175,69,108,108,105,112,115,101,71,101,111,109,101,116,114,121,212,114,104,146,166,108,97,121,101,114,115,164,110,97,109,101,212,2,0,146,212,114,105,147,162,102,105,164,100,97,116,97,162,105,100,0,212,114,106,157,164,109,111,100,101,166,105,115,77,97,115,107,167,118,105,115,105,98,108,101,167,98,117,109,112,77,97,112,176,98,117,109,112,77,97,112,73,110,116,101,110,115,105,116,121,172,114,111,117,103,104,110,101,115,115,77,97,112,173,97,108,112,104,97,79,118,101,114,114,105,100,101,168,99,97,116,101,103,111,114,121,168,115,112,101,99,117,108,97,114,169,115,104,105,110,105,110,101,115,115,164,116,121,112,101,169,111,99,99,108,117,115,105,111,110,165,97,108,112,104,97,0,194,194,212,0,0,5,212,0,0,1,165,112,104,111,110,103,81,203,63,201,153,153,153,153,153,154,203,63,201,153,153,153,153,153,154,203,63,201,153,153,153,153,153,154,5,165,108,105,103,104,116,195,203,63,227,51,51,51,51,51,51,166,108,97,121,101,114,49,105,1,212,114,107,150,165,97,108,112,104,97,164,109,111,100,101,166,105,115,77,97,115,107,167,118,105,115,105,98,108,101,164,116,121,112,101,165,99,111,108,111,114,1,0,194,195,165,99,111,108,111,114,81,1,1,1,166,108,97,121,101,114,50,176,69,108,108,105,112,115,101,32,77,97,116,101,114,105,97,108,167,69,108,108,105,112,115,101,144,212,114,108,148,162,102,105,164,100,97,116,97,162,105,100,168,99,104,105,108,100,114,101,110,255,212,114,109,220,0,21,166,115,116,97,116,101,115,166,101,118,101,110,116,115,167,118,105,115,105,98,108,101,171,114,97,121,99,97,115,116,76,111,99,107,167,112,104,121,115,105,99,115,172,112,97,116,104,83,110,97,112,112,105,110,103,168,112,111,115,105,116,105,111,110,168,114,111,116,97,116,105,111,110,165,115,99,97,108,101,172,104,105,100,100,101,110,77,97,116,114,105,120,166,99,108,111,110,101,114,164,116,121,112,101,165,99,111,108,111,114,169,105,110,116,101,110,115,105,116,121,167,115,104,97,100,111,119,115,164,115,105,122,101,165,100,101,112,116,104,172,112,101,110,117,109,98,114,97,83,105,122,101,176,115,104,97,100,111,119,82,101,115,111,108,117,116,105,111,110,172,115,104,97,100,111,119,82,97,100,105,117,115,164,110,97,109,101,214,112,0,0,0,8,214,112,0,0,0,9,195,194,68,170,118,105,115,105,98,105,108,105,116,121,195,170,112,111,115,105,116,105,111,110,101,100,1,0,1,203,63,224,0,0,0,0,0,0,0,203,63,201,153,153,153,153,153,154,166,99,111,110,118,101,120,214,112,0,0,0,10,214,112,0,0,0,11,214,112,0,0,0,12,147,204,200,205,1,44,205,1,44,214,112,0,0,0,13,214,112,0,0,0,14,214,112,0,0,0,15,192,176,68,105,114,101,99,116,105,111,110,97,108,76,105,103,104,116,70,1,1,1,1,203,63,230,102,102,102,102,102,102,195,205,7,208,206,0,1,134,160,203,63,224,0,0,0,0,0,0,205,4,0,1,177,68,105,114,101,99,116,105,111,110,97,108,32,76,105,103,104,116,217,36,56,51,48,97,50,55,48,56,45,56,101,100,57,45,52,57,99,102,45,97,54,56,101,45,48,56,53,50,57,57,56,57,57,49,48,51,144,212,114,110,155,173,111,114,98,105,116,67,111,110,116,114,111,108,115,168,112,108,97,121,80,97,103,101,174,119,105,116,104,66,97,99,107,103,114,111,117,110,100,173,112,114,101,118,101,110,116,83,99,114,111,108,108,178,112,114,101,118,101,110,116,84,111,117,99,104,83,99,114,111,108,108,170,104,105,100,101,67,117,114,115,111,114,176,109,111,117,115,101,69,118,101,110,116,84,97,114,103,101,116,183,106,111,121,115,116,105,99,107,83,105,122,101,65,110,100,88,89,79,102,102,115,101,116,168,115,101,116,116,105,110,103,115,171,115,116,111,112,82,97,121,99,97,115,116,174,104,100,84,114,97,110,115,109,105,115,115,105,111,110,212,114,111,220,0,24,169,101,110,97,98,108,101,80,97,110,170,101,110,97,98,108,101,90,111,111,109,172,101,110,97,98,108,101,82,111,116,97,116,101,173,101,110,97,98,108,101,68,97,109,112,105,110,103,178,114,111,116,97,116,105,111,110,76,105,109,105,116,115,77,111,100,101,182,114,111,116,97,116,105,111,110,86,101,114,116,105,99,97,108,79,102,102,115,101,116,184,114,111,116,97,116,105,111,110,72,111,114,105,122,111,110,116,97,108,79,102,102,115,101,116,177,114,111,116,97,116,105,111,110,83,111,102,116,76,105,109,105,116,173,112,97,110,76,105,109,105,116,115,77,111,100,101,177,112,97,110,86,101,114,116,105,99,97,108,79,102,102,115,101,116,179,112,97,110,72,111,114,105,122,111,110,116,97,108,79,102,102,115,101,116,172,112,97,110,83,111,102,116,76,105,109,105,116,177,122,111,111,109,76,105,109,105,116,115,69,110,97,98,108,101,100,170,122,111,111,109,76,105,109,105,116,115,170,97,117,116,111,82,111,116,97,116,101,175,97,117,116,111,82,111,116,97,116,101,83,112,101,101,100,179,97,117,116,111,82,111,116,97,116,101,67,108,111,99,107,119,105,115,101,178,104,111,118,101,114,82,111,116,97,116,101,80,97,110,77,111,100,101,182,104,111,118,101,114,82,111,116,97,116,101,80,97,110,83,116,114,101,110,103,116,104,178,104,111,118,101,114,82,111,116,97,116,101,68,97,109,112,105,110,103,171,105,115,84,111,117,99,104,90,111,111,109,172,111,114,98,105,116,84,111,117,99,104,101,115,170,112,97,110,84,111,117,99,104,101,115,190,114,101,115,101,116,72,111,118,101,114,69,102,102,101,99,116,79,110,80,111,105,110,116,101,114,76,101,97,118,101,194,194,194,194,0,212,114,112,146,163,109,105,110,163,109,97,120,203,63,233,33,251,84,68,45,24,203,63,233,33,251,84,68,45,24,112,203,63,233,33,251,84,68,45,24,203,63,233,33,251,84,68,45,24,2,0,112,204,250,204,250,112,204,250,204,250,2,194,112,203,63,185,153,153,153,153,153,154,2,194,2,195,0,20,203,63,192,0,0,0,0,0,0,195,2,3,195,217,36,97,50,49,56,102,99,99,51,45,50,55,54,98,45,52,57,98,57,45,98,52,56,53,45,52,57,48,51,55,102,100,49,52,102,53,102,195,194,194,194,166,99,97,110,118,97,115,156,147,204,120,146,30,226,164,115,104,111,119,147,204,120,146,0,226,164,115,104,111,119,147,204,120,146,0,226,164,115,104,111,119,147,204,120,146,0,226,164,115,104,111,119,147,204,120,146,226,226,164,115,104,111,119,147,204,120,146,30,30,164,115,104,111,119,147,204,120,146,0,30,164,115,104,111,119,147,204,120,146,0,30,164,115,104,111,119,147,204,120,146,0,30,164,115,104,111,119,147,204,120,146,226,30,164,115,104,111,119,147,204,120,146,30,0,164,115,104,111,119,147,204,120,146,226,0,164,115,104,111,119,212,114,113,147,165,105,109,97,103,101,165,118,105,100,101,111,163,119,101,98,212,114,114,146,166,102,111,114,109,97,116,165,114,97,116,105,111,163,106,112,103,1,212,114,115,151,166,102,111,114,109,97,116,171,105,109,97,103,101,70,111,114,109,97,116,163,102,112,115,164,109,98,112,115,165,114,97,116,105,111,168,115,116,111,112,77,111,100,101,168,100,117,114,97,116,105,111,110,163,109,112,52,163,106,112,103,30,204,80,1,166,109,97,110,117,97,108,205,19,136,212,114,116,149,164,108,111,103,111,168,99,111,109,112,114,101,115,115,166,112,114,101,115,101,116,167,112,114,101,108,111,97,100,164,104,105,110,116,195,195,1,195,194,195,194,212,114,117,156,164,109,111,100,101,166,112,114,111,109,112,116,174,110,101,103,97,116,105,118,101,80,114,111,109,112,116,165,115,116,121,108,101,172,105,115,82,97,110,100,111,109,83,101,101,100,164,115,101,101,100,169,103,117,101,115,115,77,111,100,101,168,97,100,118,97,110,99,101,100,165,115,116,101,112,115,173,103,117,105,100,97,110,99,101,83,99,97,108,101,175,99,111,110,116,114,111,108,78,101,116,83,99,97,108,101,169,109,111,100,105,102,105,101,114,115,173,108,105,110,101,45,97,114,116,45,98,111,116,104,160,160,212,114,118,148,162,105,100,165,108,97,98,101,108,165,115,116,121,108,101,166,112,114,111,109,112,116,165,98,97,115,105,99,165,66,97,115,105,99,164,78,111,110,101,160,195,206,0,1,62,195,194,194,20,203,64,30,0,0,0,0,0,0,1,212,114,119,154,167,119,101,97,116,104,101,114,167,115,104,97,100,111,119,115,171,108,105,103,104,116,79,114,105,103,105,110,171,116,101,109,112,101,114,97,116,117,114,101,163,115,117,110,166,99,97,109,101,114,97,171,101,110,118,105,114,111,110,109,101,110,116,169,112,97,114,116,105,99,108,101,115,166,110,97,116,117,114,101,165,102,108,111,111,114,0,0,0,0,0,0,0,0,0,0,212,1,0,212,114,120,145,217,36,55,50,102,99,50,57,57,51,45,50,100,97,51,45,52,98,54,98,45,57,54,97,99,45,50,56,55,57,100,98,51,97,50,56,98,100,212,114,121,150,166,112,114,101,115,101,116,175,97,108,108,111,119,82,101,115,112,111,110,115,105,118,101,164,115,105,122,101,166,99,111,111,114,100,115,170,115,99,101,110,101,83,99,97,108,101,165,99,111,108,111,114,164,99,114,111,112,194,146,205,6,186,204,242,146,0,0,1,70,203,63,235,116,89,121,201,82,5,203,63,192,75,123,181,50,18,25,203,63,192,75,123,181,50,18,25,203,63,224,0,0,0,0,0,0,212,114,122,154,168,99,97,116,101,108,111,103,115,169,109,97,116,101,114,105,97,108,115,166,105,109,97,103,101,115,166,118,105,100,101,111,115,166,99,111,108,111,114,115,166,97,117,100,105,111,115,169,112,97,114,116,105,99,108,101,115,165,102,111,110,116,115,169,118,97,114,105,97,98,108,101,115,163,108,105,98,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,2,0,144,212,114,123,153,166,105,109,97,103,101,115,166,118,105,100,101,111,115,166,99,111,108,111,114,115,166,97,117,100,105,111,115,169,112,97,114,116,105,99,108,101,115,165,102,111,110,116,115,169,109,97,116,101,114,105,97,108,115,170,99,111,109,112,111,110,101,110,116,115,169,118,97,114,105,97,98,108,101,115,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,212,1,0,93,165,49,46,49,46,51]).then(onLoad);

</script>

</body>
</html>