<main>
    <div class="guardian-s1">
        <div class="content">
            <h1><span data-aos="fade-up">Guardian Network</span></h1>
            <div class="des text-lg" data-aos="fade-up" data-aos-delay="600">The Next Frontier in Comprehensive Online Protection The Next Frontier in Comprehensive Online The Next Frontier in Comprehensive Online</div>
            <a href="" title="DOWNLOAD" class="btn-download btn-sub text-lg" data-aos="fade-up" data-aos-delay="800">DOWNLOAD</a>
            <div class="cube">
                <img src="./assets/img/cube.png" alt="">
                <!--<spline-viewer url="https://prod.spline.design/qddRpH7dmNPNlXyx/scene.splinecode"></spline-viewer>-->
            </div>
        </div>
    </div>
    <div class="guardian-s2 px-gua">
        <div class="content">
            <div class="item flex-lc">
                <div class="col-left" data-aos="fade-right">
                    <h3>Our Mission</h3>
                </div>
                <div class="col-right" data-aos="fade-left">
                    <div class="des text-lg">Guardian Network integrates advanced security solutions including VPN, PSD (Proactive Scam Detection), and Security Masking to safeguard your digital interactions and enhance online privacy.</div>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="col-left" data-aos="fade-right">
                    <h3>Why Guardian Network?</h3>
                </div>
                <div class="col-right" data-aos="fade-left">
                    <div class="des text-lg">Our robust open-source extensions protect your wallet from the latest Web3 threats and enhance internet freedom. With advanced VPN, Proactive Scam Detection, and Security Masking, navigate Web3 safely and anonymously with Guardian.Network.</div>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="col-left" data-aos="fade-right">
                    <div class="box-video">
                        <video playsinline muted loop autoplay>
                            <source src="./assets/img/video-2.mp4" type="video/mp4">
                        </video>
                    </div>
                </div>
                <div class="col-right" data-aos="fade-left">
                    <div class="des text-lg">GuardianNetwork is your reliable browser extension, ensuring your digital safety with ease. It's simple and free to install, offering seamless Web3 integration for secure payments without compromising your personal information.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="guardian-s3 px-gua">
        <h2 class="title"><span data-aos="fade-up">Ecosystem</span></h2>
        <div class="box-canvas flex-center">
            <canvas id="canvas3d"></canvas>
            <!--<spline-viewer url="https://my.spline.design/dot-c849e99a62f46da58eee9acb4b520107/"></spline-viewer>-->
        </div>
        <div class="ecosystem">
            <div class="item flex-lc">
                <div class="content">
                    <h4>VPN Extension</h4>
                    <p class="text-lg">Encrypts your online activities, ensuring privacy and security. Encrypts your online activities, ensuring privacy and security.</p>
                </div>
                <div class="img-wrapper">
                    <img src="./assets/img/vpn-extension.svg" alt="">
                </div>
                <div class="box-hover">
                    <div class="flex">
                        <div class="item-hv flex-lc">
                            <div class="content">
                                <h4>VPN Extension</h4>
                                <p class="text-lg">Encrypts your online activities, ensuring privacy and security. Encrypts your online activities, ensuring privacy and security.</p>
                            </div>
                            <div class="img-wrapper">
                                <img src="./assets/img/vpn-extension.svg" alt="">
                            </div>
                        </div>
                        <div class="box-video"><img src="./assets/img/vpn-extension.svg" alt=""></div>
                    </div>
                    <div class="box-marquee">
                        <marquee>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                            <span>VPN Extension</span>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="content">
                    <h4>PSD Extension</h4>
                    <p class="text-lg">Encrypts your online activities, ensuring privacy and security. Encrypts your online activities, ensuring privacy and security.</p>
                </div>
                <div class="img-wrapper">
                    <img src="./assets/img/psd-extension.svg" alt="">
                </div>
                <div class="box-hover">
                    <div class="flex">
                        <div class="box-video"><img src="./assets/img/psd-extension.svg" alt=""></div>
                        <div class="item-hv flex-lc">
                            <div class="content">
                                <h4>PSD Extension</h4>
                                <p class="text-lg">Encrypts your online activities, ensuring privacy and security. Encrypts your online activities, ensuring privacy and security.</p>
                            </div>
                            <div class="img-wrapper">
                                <img src="./assets/img/psd-extension.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box-marquee">
                        <marquee>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                            <span>PSD Extension</span>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="content">
                    <h4>Security Mask Extension</h4>
                    <p class="text-lg">Detects and alerts you to phishing and fraudulent sites in real-time.</p>
                </div>
                <div class="img-wrapper">
                    <img src="./assets/img/security.svg" alt="">
                </div>
                <div class="box-hover">
                    <div class="flex">
                        <div class="item-hv flex-lc">
                            <div class="content">
                                <h4>Security Mask Extension</h4>
                                <p class="text-lg">Detects and alerts you to phishing and fraudulent sites in real-time.</p>
                            </div>
                            <div class="img-wrapper">
                                <img src="./assets/img/security.svg" alt="">
                            </div>
                        </div>
                        <div class="box-video"><img src="./assets/img/security.svg" alt=""></div>
                    </div>
                    <div class="box-marquee">
                        <marquee>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                            <span>Security Mask Extension</span>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="content">
                    <h4>Cloud Hosting Service</h4>
                    <p class="text-lg">Offers secure, reliable hosting with automated backups and protection.</p>
                </div>
                <div class="img-wrapper">
                    <img src="./assets/img/cloud.svg" alt="">
                </div>
                <div class="box-hover">
                    <div class="flex">
                        <div class="box-video"><img src="./assets/img/cloud.svg" alt=""></div>
                        <div class="item-hv flex-lc">
                            <div class="content">
                                <h4>Cloud Hosting Service</h4>
                                <p class="text-lg">Offers secure, reliable hosting with automated backups and protection.</p>
                            </div>
                            <div class="img-wrapper">
                                <img src="./assets/img/cloud.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="box-marquee">
                        <marquee>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                            <span>Cloud Hosting Service</span>
                        </marquee>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guardian-s4 pr">
        <div class="content">
            <h3>HOW IT <span>WORK</span> ?</h3>
            <div class="guide-list">
                <div class="item">
                    <div class="box-text">
                        <h4 class="font-medium">1. Download & Install</h4>
                        <p class="text-lg">Download, Install, and Safeguard Your Digital Presence with GUARDIAN NETWORK</p>
                        <a href="" title="" class="btn-download flex-center">Download</a>
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/img-hw-1.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="box-text">
                        <h4 class="font-medium">2. Enter The Activation Code</h4>
                        <p class="text-lg">Obtain Your Activation Code at the PRICING section and Unleash the Full Potential of the Remarkable Extension That Revolutionizes Your Browsing World!</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/img-hw-2.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="box-text">
                        <h4 class="font-medium">3. Browsing with Guardian Network</h4>
                        <p class="text-lg">Sign in and input the code to initiate access to our VPN & Security Mask services and commence your journey today!</p>
                    </div>
                    <div class="img-wrapper">
                        <img src="./assets/img/img-hw-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="box-video">
            <video playsinline muted loop autoplay>
                <source src="./assets/img/video-1.mp4" type="video/mp4">
            </video>
        </div>
    </div>
    <div class="guardian-s5 px-gua">
        <div class="flex-lc flex-between">
            <h2 class="title"><span data-aos="fade-up">ROADMAP</span></h2>
            <div class="box-video">
                <video playsinline muted loop autoplay>
                    <source src="./assets/img/video-2.mp4" type="video/mp4">
                </video>
            </div>
        </div>
        <div class="roadmap flex">
            <div class="roadmap-item pr">
                <div class="flex">
                    <div class="item">
                        <h4 class="text-xl font-medium">Alpha Phase</h4>
                        <div class="box-list">
                            <ul class="flex">
                                <li class="active"><span>Research and Development</span></li>
                                <li class="active"><span>Initial Funding</span></li>
                                <li class="active"><span>VPN Extension Development</span></li>
                                <li class="active"><span>PSD and Security Mask Extension Development</span></li>
                                <li class="active"><span>Cloud Hosting Infrastructure Setup</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <h4 class="text-xl font-medium">Beta Phase</h4>
                        <div class="box-list">
                            <ul class="flex">
                                <li class="active"><span>$GUARD Token Listing</span></li>
                                <li class="active"><span>VPN Extension Launching</span></li>
                                <li><span>Community Building</span></li>
                                <li><span>Feedback Integration</span></li>
                                <li><span>Continued Partnership Development</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="scan-animation" data-aos="fade-right"></div>
            </div>
            <div class="roadmap-item pr">
                <div class="flex">
                    <div class="item">
                        <h4 class="text-xl font-medium">Gamma Phase</h4>
                        <div class="box-list">
                            <ul class="flex">
                                <li><span>PSD Extension Launching</span></li>
                                <li><span>Security Mask Extention Launching</span></li>
                                <li><span>$GUARD CEX Listing</span></li>
                                <li><span>Multichain Expansion</span></li>
                                <li><span>Cloud Hosting Service Launching</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="item">
                        <h4 class="text-xl font-medium">Delta Phase</h4>
                        <div class="box-list">
                            <ul class="flex">
                                <li><span>Feature Enhancements</span></li>
                                <li><span>Expansion of Cloud Services</span></li>
                                <li><span>New Service Development</span></li>
                                <li><span>Referral Program</span></li>
                                <li><span>Multi Layer Integration</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="guardian-s6">
        <h2 class="title">FREQUENT ASKED <span>QUESTIONS</span></h2>
        <div class="box-faq flex pr">
            <ul class="list-question text-lg tab nav">
                <li><a href="#question-1" data-toggle="tab" class="active">1. Can the Guardian Network Extension manage or transfer my digital assets?</a></li>
                <li><a href="#question-2" data-toggle="tab">2. Which blockchain platforms are compatible with the Guardian Network?</a></li>
                <li><a href="#question-3" data-toggle="tab">3. How does the Guardian Network Extension interact with my cryptocurrency wallet?</a></li>
                <li><a href="#question-4" data-toggle="tab">4. What is the utility for the $GRDN token?</a></li>
            </ul>
            <div class="tab-content">
                <div id="question-1" class="tab-pane fade show active">
                    <p>Absolutely not. The Guardian Network Extension is designed to enhance your online security without interfering with your asset management. It acts solely as a protective layer, providing insights and alerts. It is crucial that you verify and confirm all actions manually within your primary wallet interface, ensuring that your private keys and seed phrases remain confidential and secure.</p>
                </div>
                <div id="question-2" class="tab-pane fade">
                    <p>answer</p>
                </div>
            </div>
        </div>
    </div>
    <div class="guardian-s7 pr">
        <div class="content">
            <span>Ready to explore the</span>
            <span>internet with peace</span>
            <span>of mind?</span>
        </div>
        <div class="box-video">
            <video playsinline muted loop autoplay>
                <source src="./assets/img/video-3.mp4" type="video/mp4">
            </video>
        </div>
        <a href="" title="" class="btn-enterapp flex-center"><span>Enter App</span></a>
    </div>
</main>