<div class="main flex">
    <div class="sidebar">
        <ul class="menu tab nav text-lg">
            <li><a href="#" class="active" title="WALLET SCAN">WALLET SCAN</a></li>
        </ul>
    </div>
    <div class="main-content flex">
        <div class="col-left">
            <div class="wallet">
                <h2 class="font-medium text-xl mb-3">Connect wallet to run your first scan</h2>
                <p class="text-gray">Pro tips: Run the wallet scan daily to make sure your wallet is safe</p>
                <a href="" title="" class="btn-sub">CONNECT WALLET</a>
            </div>
            <div class="scan-history">
                <h2 class="font-medium text-xl">Scan History</h2>
                <div class="not-connect flex-center">
                    <img src="./assets/img/icon-2.svg" alt="">
                    <p class="text-gray">Connect wallet to view your scan history</p>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="security-score">
                <h2 class="font-medium text-xl">Security Score</h2>
                <div class="not-connect flex-center">
                    <img src="./assets/img/icon-2.svg" alt="">
                    <p class="text-gray">Connect wallet to view your scan history</p>
                </div>
            </div>
        </div>
    </div>
</div>