<div class="main flex">
    <div class="sidebar">
        <ul class="menu tab nav text-lg">
            <li><a href="#" class="active" title="WALLET SCAN">WALLET SCAN</a></li>
        </ul>
    </div>
    <div class="main-content flex">
        <div class="col-left">
            <div class="wallet pr">
                <h2 class="font-medium text-xl mb-3">Security scan</h2>
                <p class="text-gray">Pro tips: Run the wallet scan daily to make sure your wallet is safe</p>
                <button type="button" class="btn-sub btn-scan">SCAN</button>
                <div class="scan-animation"></div>
            </div>
            <div class="scan-history">
                <h2 class="font-medium text-xl">Scan History</h2>
                <div class="box-table">
                    <table>
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Risk</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status bad">Bad</span></td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status good">Good</span></td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status excellent">Excellent</span></td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status good">Good</span></td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status good">Good</span></td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status excellent">Excellent</span></td>
                        </tr>
                        <tr>
                            <td>Mar 12, 2024</td>
                            <td>Lorem ipsum</td>
                            <td><p>Lorem ipsum dolor sit amet</p></td>
                            <td><span class="status good">Good</span></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-right">
            <div class="security-score">
                <h2 class="font-medium text-xl">Security Score</h2>
                <div class="box-score excellent">
                    <div class="percent">100%</div>
                    <div class="progress"></div>
                    <div class="font-medium text-xl status">Excellent</div>
                    <div class="text-gray mt-3">You're doing great. Keep it up!</div>
                </div>
                <div class="scan-lasttime">
                    <h2 class="font-medium text-xl">Last time scan</h2>
                    <ul class="flex">
                        <li>
                            <h5>Date</h5>
                            <p>Mar 12, 2024</p>
                        </li>
                        <li>
                            <h5>Status</h5>
                            <div><span class="status excellent">Excellent</span></div>
                        </li>
                        <li>
                            <h5>Risk</h5>
                            <p class="risk">Lorem ipsum</p>
                        </li>
                        <li>
                            <h5>Name</h5>
                            <p class="name">Lorem ipsum</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>