<main>
    <div class="guardian-s1">
        <div class="content">
            <h1><span>Guardian Network</span></h1>
            <div class="des text-lg">The Next Frontier in Comprehensive Online Protection The Next Frontier in Comprehensive Online The Next Frontier in Comprehensive Online</div>
            <a href="" title="DOWNLOAD" class="btn-download btn-sub text-lg">DOWNLOAD</a>
        </div>
        <spline-viewer url="https://prod.spline.design/LEvjG3OETYd2GsRw/scene.splinecode"></spline-viewer>
    </div>
    <div class="guardian-s2 px-gua">
        <div class="content">
            <div class="item flex-lc">
                <div class="col-left">
                    <h3>Our Mission</h3>
                </div>
                <div class="col-right">
                    <div class="des text-lg">Guardian Network integrates advanced security solutions including VPN, PSD (Proactive Scam Detection), and Security Masking to safeguard your digital interactions and enhance online privacy.</div>
                </div>
            </div>
            <div class="item flex-lc">
                <div class="col-left">
                    <h3>Why Guardian Network?</h3>
                </div>
                <div class="col-right">
                    <div class="des text-lg">Our robust open-source extensions protect your wallet from the latest Web3 threats and enhance internet freedom. With advanced VPN, Proactive Scam Detection, and Security Masking, navigate Web3 safely and anonymously with Guardian.Network.</div>

                </div>
            </div>
            <div class="item flex-lc">
                <div class="col-left">
                    <div class="video"><img src="./assets/img/video.png" alt=""></div>
                </div>
                <div class="col-right">
                    <div class="des text-lg">GuardianNetwork is your reliable browser extension, ensuring your digital safety with ease. It's simple and free to install, offering seamless Web3 integration for secure payments without compromising your personal information.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="guardian-s3 px-gua">
        <h2 class="title">Ecosystem</h2>
        <div class="box-canvas box-canvas--header flex-center">

        </div>
        <div class="ecosystem">
            <div class="item flex-lc">
                <div class="content">
                    <h4>VPN Extension</h4>
                    <p class="text-lg">Encrypts your online activities, ensuring privacy and security. Encrypts your online activities, ensuring privacy and security.</p>
                </div>
                <div class="img-wrapper">
                    <img src="./assets/img/vpn-extension.svg" alt="">
                </div>
            </div>
            <div class="item flex-lc">
                <div class="content">
                    <h4>PSD Extension</h4>
                    <p class="text-lg">Encrypts your online activities, ensuring privacy and security. Encrypts your online activities, ensuring privacy and security.</p>
                </div>
                <div class="box-canvas">

                </div>
            </div>
            <div class="item flex-lc">
                <div class="content">
                    <h4>Security Mask Extension</h4>
                    <p class="text-lg">Detects and alerts you to phishing and fraudulent sites in real-time.</p>
                </div>
                <div class="box-canvas">

                </div>
            </div>
            <div class="item flex-lc">
                <div class="content">
                    <h4>Cloud Hosting Service</h4>
                    <p class="text-lg">Offers secure, reliable hosting with automated backups and protection.</p>
                </div>
                <div class="box-canvas">

                </div>
            </div>
        </div>
    </div>
</main>