<div class="main flex">
    <div class="sidebar">
        <ul class="menu tab nav text-lg">
            <li><a href="#vpn" data-toggle="tab" class="active" title="VPN EXTENSION">VPN EXTENSION</a></li>
            <li><a href="#security" data-toggle="tab" title="SECURITY MASK EXTENSION">SECURITY MASK EXTENSION</a></li>
            <li><a href="#download" data-toggle="tab" title="DOWNLOAD EXTENSION">DOWNLOAD EXTENSION</a></li>
            <li><a href="#pricing" data-toggle="tab" title="PRICING">PRICING</a></li>
        </ul>
    </div>
    <div class="main-content">
        <div class="tab-content">
            <div id="vpn" class="tab-pane tab-vpn fade show active">
                <div class="box-content flex">
                    <div class="box-text pr">
                        <h2>VPN Extension</h2>
                        <p class="text-lg">Elevate your online security with Guardian Network VPN. Shield your data from cyber threats with robust encryption, enjoy unrestricted access to global content, and browse anonymously without compromising your privacy.</p>
                        <a href="" title="" class="btn-pr">Download</a>
                    </div>
                    <div class="img-wrapper"><img src="./assets/img/img-vpn-extension.png" alt=""></div>
                </div>
                <div class="feature flex">
                    <div class="item item--1 flex">
                        <div class="icon"><img src="./assets/img/icon-user.svg" alt=""></div>
                        <div class="content">
                            <h4 class="text-lg font-medium">USER FRIENDLY</h4>
                            <p class="text-gray">Simple to operate, you're just one click away from enhanced online privacy and the ability to visit any restricted website.</p>
                        </div>
                    </div>
                    <div class="item item--2 flex">
                        <div class="icon"><img src="./assets/img/icon-safe.svg" alt=""></div>
                        <div class="content">
                            <h4 class="text-lg font-medium">Unblock Geo-Restricted Webs & Apps</h4>
                            <p class="text-gray">The VPN Extension hides users' IP addresses, keeping their location private and blocking websites and third-party trackers from tracking their online activity. This is vital for users in regions with internet restrictions or those needing access to geo-blocked content.</p>
                        </div>
                    </div>
                    <div class="item item--3 flex">
                        <div class="icon"><img src="./assets/img/icon-insurance.svg" alt=""></div>
                        <div class="content">
                            <h4 class="text-lg font-medium">No-Logs Policy</h4>
                            <p class="text-gray">Committed to user privacy, the VPN Extension operates under a strict no-logs policy. This means that it does not store any information about users' internet activities, ensuring that their privacy is upheld at all times.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="security" class="tab-pane tab-security fade">
                <div class="box-content flex">
                    <div class="box-text pr">
                        <h2>SECURITY MASK EXTENSION</h2>
                        <p class="text-lg">Safeguard your cryptocurrency directly within your MetaMask wallet. Eliminate uncertainties surrounding your transactions during swaps, claims, and mints. Enhance your MetaMask experience with this added layer of protection.</p>
                        <a href="" title="" class="btn-pr">Download</a>
                    </div>
                    <div class="img-wrapper"><img src="./assets/img/img-security-mask-extension.png" alt=""></div>
                </div>
                <div class="feature-security">
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon-fraud.svg" alt=""></div>
                        <h4 class="font-medium">Fraud Prevention</h4>
                        <p class="text-gray">The Security Mask Extension scans web pages in real-time to shield users from online scams and fraud, ensuring their security remains intact.</p>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon-realtime.svg" alt=""></div>
                        <h4 class="font-medium">Real-Time Alerts</h4>
                        <p class="text-gray">Users promptly receive alerts upon detecting potential threats, empowering them to swiftly safeguard their assets, crucially thwarting security breaches.</p>
                    </div>
                    <div class="item">
                        <div class="icon"><img src="./assets/img/icon-user1.svg" alt=""></div>
                        <h4 class="font-medium">User-Friendly Interface</h4>
                        <p class="text-gray">The extension is designed for ease of use, with simple on/off toggling and customizable settings to control the level of protection based on user preference.</p>
                    </div>
                </div>
            </div>
            <div id="download" class="tab-pane tab-download fade">
                <div class="box-content flex">
                    <div class="box-text pr">
                        <h2>Guardian Extension</h2>
                        <p class="text-lg">Enhance Your Online Protection with Guardian Extension's Robust Security Features for an Impenetrable VPN Experience</p>
                        <a href="" title="" class="btn-pr">DOWNLOAD EXTENSION</a>
                    </div>
                    <div class="work">
                        <h3 class="font-medium">HOW IT WORK ?</h3>
                        <ul>
                            <li>
                                <div class="number text-lg">1</div>
                                <div class="content">
                                    <h4 class="font-medium">Purchase your activation code </h4>
                                    <p class="text-gray">Obtain Your Activation Code at the <span>PRICING</span> section Today and Unleash the Full Potential of the Remarkable Extension That Revolutionizes Your Browsing World!</p>
                                </div>
                            </li>
                            <li>
                                <div class="number text-lg">2</div>
                                <div class="content">
                                    <h4 class="font-medium">Download and install</h4>
                                    <p class="text-gray">Download, Install, and Safeguard Your Digital Presence with <span>GUARDIAN NETWORK</span></p>
                                </div>
                            </li>
                            <li>
                                <div class="number text-lg">3</div>
                                <div class="content">
                                    <h4 class="font-medium">Sign In & Start Using Services</h4>
                                    <p class="text-gray">Sign in and input the code to initiate access to our VPN & Security Mask services and commence your journey today!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="img-wrapper"><img src="./assets/img/img-download-extension.png" alt=""></div>
                </div>
            </div>
            <div id="pricing" class="tab-pane tab-pricing fade">
                <div class="box-content flex">
                    <div class="box-text pr">
                        <h2>PRICING</h2>
                        <p class="text-lg">Guardian Network offers a simple and flexible payment mechanism. Upon payment, users will receive an activation code. Each activation code allows usage on one computer and expires after 30 days.</p>
                    </div>
                    <div class="box-price">
                        <div class="item">
                            <ul class="text-lg">
                                <li>
                                    <p>Price Per Code</p>
                                    <span>2000 GRDN</span>
                                </li>
                                <li>
                                    <p>Amount</p>
                                    <span>2</span>
                                </li>
                            </ul>
                        </div>
                        <div class="item">
                            <div class="total flex">
                                <p>Total</p>
                                <span>4000 GRDN</span>
                            </div>
                            <button type="button" class="btn-pr">CONFIRM</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>