:root{
  --Helvetica: Helvetica, sans-serif;
  --HelveticaNeue: HelveticaNeue, sans-serif;
  --HelveticaNeueMedium: HelveticaNeueMedium, sans-serif;
  --gray: #505558;
}
body{
  background: #0a0b0d;
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  color: #fff;
  line-height: 1.4;
  overflow-x: hidden;
  &::-webkit-scrollbar{width: 6px;}
  &::-webkit-scrollbar-track{background: #ccc;}
  &::-webkit-scrollbar-thumb{background: #888;}
}


html,body{scroll-behavior: smooth;}
body.modal-open {
  overflow: visible;
  padding-right: 0 !important;
}
body.modal-open{overflow: hidden;}

@mixin hover{filter: saturate(2.1); -webkit-filter: saturate(2.1);}
a{transition: .25s; color: #000;}
a:hover{text-decoration: none;}

@font-face {
  font-family: Helvetica;
  src: url('#{$font-path}/Helvetica.ttf');
}

@font-face {
  font-family: HelveticaNeueMedium;
  src: url('#{$font-path}/helvetica-neue-medium.ttf');
}

@font-face {
  font-family: HelveticaNeue;
  src: url('#{$font-path}/helveticaneue.ttf');
}

//header
header{
  width: 100%; border-bottom: 1px solid #505558; background: #0a0b0d;
  position: fixed; z-index: 9; transition: .5s;
  &.scroll{padding: 0; box-shadow: 0 2px 4px rgba(#000,.18);}
  .navbar-toggle{display: none;}
  .btn-pr{margin-left: auto; min-width: 192px;}
}
.navbar{
  height: 100%; width: 100%;
  display: flex; align-items: center; justify-content: flex-start;
  margin: 0 auto; padding: 14px vw(103px);;
  border-radius: 0; border: none;
  .logo{width: 138px; z-index: 99;}
}
.navbar-collapse{padding: 0; justify-content: flex-start;}
.navbar-nav{
  margin: 0 0 0 vw(100px); align-items: center;
  &.nav-category{
    >*+*{margin-left: vw(120px);}
  }
  >*+*{margin-left: vw(200px);}
  > li > a{display: flex; align-items: center; font-size: 18px; line-height: 28px; color: #505558; letter-spacing: -0.216px; position: relative;}
  a:hover,.active{color: #fff;}
  .active::before{
    content: "";
    width: 12px; height: 12px; background: url("#{$img-path}/icon-mn.svg") no-repeat;
    display: block; margin-right: 8px;
  }
}


//home
main{padding-top: 76px;}
.guardian-s1{
  .content{position: relative; z-index: 2;}
  h1{
    height: vw(190px); overflow: hidden;
    font-weight: 300; font-size: vw(190px);
    text-align: center; text-transform: uppercase; line-height: 1;
    span{display: block;}
    &.active span{transform: translateY(0);}
  }
  .des{max-width: 609px; margin: vw(30px) auto vw(45px); color: var(--gray); text-align: center; letter-spacing: -0.216px;}
  .btn-download{width: 192px; margin: 0 auto; display: block;}
}
.cube{
  width: 100%; height: vw(1080px);
  margin: vw(-220px) 0 vw(-120px); position: relative; z-index: -1;
  img{animation: hue 1.5s infinite linear;}
  canvas{max-width: 100%; position: absolute; top: 0; left: 0; z-index: -1;}
  iframe{width: 100%; height: 100%; border: none;}
  &::before{
    content: "";
    width: vw(1772px); height: vw(1772px);
    background: url("#{$img-path}/circle.svg") no-repeat 0 0/contain;
    position: absolute; left: 50%; transform: translateX(-50%); top: vw(400px); z-index: 2;
  }
  &::after{
    content: "";
    width: 137px; height: 36px; background: #0a0b0d;
    position: absolute; right: 20px; bottom: 20px;
  }
}
.guardian-s2{
  padding-top: vw(70px); position: relative; overflow: hidden; z-index: 3;
  &::after{
    content: "";
    height: 100%; width: vw(1269px);
    background: url("#{$img-path}/bg-color.svg") no-repeat top right/cover;
    position: absolute; top: 0; left: 0; z-index: -1;
  }
  .content > *+*{margin-top: vw(230px);}
  .item{
    .col-left,.col-right{width: 50%;}
    .col-right{padding-left: 16px;}
    h3{font: vw(60px) var(--Helvetica);}
    .des{letter-spacing: -0.216px; color: rgba(#fff,.5);}
  }
  .box-video{
    width: 100%; max-width: 654px; height: 80px;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
}
.guardian-s3{
  padding-top: vw(60px);
  padding-bottom: vw(240px);
  .box-canvas--header{height: 242px;}
  .ecosystem{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: vw(264px);
    grid-row-gap: vw(112px);
    margin-top: vw(152px);
    .content{width: calc(100% - 176px);}
    .box-canvas{width: 176px; height: 160px;}
    .box-canvas::after{display: none;}
    h4{margin-bottom: 20px; font: vw(60px) var(--Helvetica);}
    p{max-width: 443px; color: rgba(#fff,.5);}
  }
  .box-hover{
    width: 100%; height: auto;
    padding: vw(40px) vw(104px) 0;
    background: #000;
    position: fixed; bottom: -100%; left: 0; transition: .4s; z-index: 9;
    &::after{
      content: ""; position: absolute;
      width: vw(713px); height: vw(347px);
      background: url("#{$img-path}/ellipse-3.svg") no-repeat 0 0/contain;
      z-index: -1;
    }
    > div{justify-content: space-between; align-items: flex-start;}
    .item-hv{width: vw(719px);}
    .box-video{
      width: vw(620px);
      img{width: 100%;}
    }
  }
  .box-marquee{
    padding: vw(20px) 0;
    margin: 0 vw(-104px);
    background: #ED14CA;
    span{padding: 0 vw(20px); letter-spacing: -0.56px; font-size: vw(28px); line-height: 1.34; text-transform: uppercase; position: relative;}
    span::after{
      content: "";
      width: 6px; height: 6px; background: #fff;
      border-radius: 50%;
      position: absolute; top: 50%; transform: translateY(-50%);
      right: -3px;
    }
    span:last-child::after{display: none;}
  }
  .item:hover .box-hover{bottom: 0;}
  .item:nth-child(odd){
    .box-hover{
      &::after{bottom: 0; left: 0;}
      .item-hv{padding-top: vw(70px);}
    }
  }
  .item:nth-child(even){
    .box-hover{
      &::after{bottom: 0; right: 0; transform: rotateY(180deg);}
      .item-hv{padding-top: vw(70px);}
    }
  }
}
.guardian-s4{
  padding: vw(104px);
  background: url("#{$img-path}/bg-2.jpg") no-repeat 0 0/cover;
  .box-video{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  .content{
    width: 100%; min-height: vw(872px);
    padding: vw(112px) vw(120px);
    background: url("#{$img-path}/bg-3.svg") no-repeat center center/cover;
    color: #0A0B0D; position: relative; z-index: 2;
  }
  .guide-list{
    .item{display: flex !important; justify-content: space-between;}
    .box-text{
      max-width: 46%; padding-top: vw(90px);
      p{max-width: 442px;}
    }
    .img-wrapper{max-width: 46%;}
    h4{margin-bottom: vw(24px); font-size: vw(40px); line-height: 1.4; letter-spacing: -1.2px;}
    p{letter-spacing: -0.216px; color: var(--gray);}
  }
  .slick-dots{
    display: flex; align-items: center;
    position: absolute; bottom: vw(80px);
    li{position: relative;}
    .slick-active{
      button{background: #0A0B0D;}
    }
    >*+*{margin-left: vw(225px);}
    >*+*::after{
      content: "";
      width: vw(235px); height: 1px;
      background: #C3CACE;
      position: absolute; right: vw(10px); bottom: vw(8px);
    }
    button{
      padding: 0; width: vw(16px); height: vw(16px);
      border-radius: 50%; background: #C3CACE;
      font-size: 0;
      position: relative; z-index: 2;
    }
  }
  h3{margin-bottom: vw(28px); font: vw(60px) var(--Helvetica); line-height: 1.4;}
  h3 span{font-style: italic;}
  .btn-download{
    height: 44px; width: 192px;
    margin-top: vw(48px);
    border-radius: 9999px;
    background: #0A0B0D;
    font: 16px var(--HelveticaNeueMedium);
    letter-spacing: -0.032px;
    text-transform: uppercase;
    color: #fff;
    &:hover{background: #fff; color: #0A0B0D; border: 1px solid #0A0B0D;}
  }
}
.guardian-s5{
  padding-top: vw(60px);
  .box-video{
    width: vw(280px); height: vw(224px); border-radius: vw(100px);
    border: 1px solid var(--gray); overflow: hidden;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  .roadmap{
    margin-top: vw(100px);
    .roadmap-item{
      width: 100%; padding-top: vw(152px);
      &:nth-child(2) .scan-animation{animation-delay: 2s;}
    }
    .box-list{width: 100%;}
    .item{width: 50%;}
    .item:nth-child(even){
      ul{
        flex-wrap: nowrap; position: relative;
        li{width: 25%;}
        li:last-child{
          position: absolute; right: 0; text-align: right;
          span{position: absolute; right: -60px; text-align: left;}
        }
      }
    }
    h4{margin-bottom: vw(46px);}
    ul{border-top: 1px solid #fff;}
    li{width: 20%; position: relative; padding-top: 38px; }
    li::before{
      content: "";
      width: 6px; height: 6px;
      background: #fff; border-radius: 50%;
      position: absolute; top: -3px;
    }
    span{display: block; max-width: 104px; color: rgba(#fff,.5); letter-spacing: -0.42px;}
    .active span{color: #80EC40;}
  }
  .scan-animation{
    width: vw(1182px); height: vw(459px);
    background: url("#{$img-path}/scan.svg") no-repeat right center/cover;
    position: absolute; bottom: 0; left: vw(-104px); transition: .8s;
    &.active{width: vw(1182px);}
    /*animation: scanning 2s linear infinite;*/ z-index: -1;
  }
}
.guardian-s6{
  padding: vw(214px) vw(104px) vw(100px);
  h2.title{
    margin-bottom: vw(100px); height: auto; font: vw(60px) var(--Helvetica); line-height: 1.34; text-align: left;
    span{display: inline-block; font-style: italic; transform: translateY(0);}
  }
  .box-faq{
    &::before{
      content: "";
      width: 108px; height: 108px;
      background: url("#{$img-path}/decor-2.svg") no-repeat 0 0/contain;
      position: absolute; right: 0; top: -190px;
      animation: rotate 10s infinite linear;
    }
  }
  .list-question{
    width: vw(838px); display: block; border-top: 1px solid var(--gray);
    a{display: block; padding: vw(28px) 0; letter-spacing: -0.216px; color: #fff; border-bottom: 1px solid var(--gray);}
    .active{color: #ccc;}
  }
  .tab-content{
    width: vw(674px); margin-left: auto; position: relative;
    p{font-size: 20px; line-height: 32px; letter-spacing: -0.24px; color: var(--gray);}
  }
}
.guardian-s7{
  padding: vw(53px) vw(104px);
  &:hover{
    &::after{width: 100%;}
    .btn-enterapp{opacity: 1; visibility: visible; z-index: 2; transition: .3s; transition-delay: .4s;}
    .content span{color: #0A0B0D; background: none;}
  }
  &::after{
    content: "";
    width: 0; height: 100%;
    background: #80EC40;
    position: absolute; top: 0; left: 0; transition: .8s;
  }
  .box-video{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;
    video{width: 100%; height: 100%; object-fit: cover;}
  }
  .content{
    width: vw(795px); position: relative; z-index: 2;
    span{display: inline-block; font-size: vw(72px); line-height: 1.34; background: #0A0B0D; text-transform: uppercase; transition: .5s;}
  }
  .btn-enterapp{
    width: vw(168px); height: vw(168px);
    border-radius: 50%;
    background: #0A0B0D;
    letter-spacing: -0.664px;
    font-size: vw(22px);
    color: #fff;
    position: absolute; top: 50%; transform: translateY(-50%); right: vw(160px);
    opacity: 0; visibility: visible; z-index: -1;
    span{transition: .3s;}
    &:hover span{transform: scale(1.1);}
  }
}


iframe .spline-watermark{display: none !important;}
.box-canvas{
  position: relative;
  canvas{max-width: 100%; max-height: 100%;}
  iframe{width: 100%; height: 100%; border: none;}
  &::after{
    content: "";
    width: 137px; height: 36px; background: #0a0b0d; display: none;
    position: absolute; right: 20px; bottom: 20px;
  }
}
@keyframes scanning {
  100% { transform: translateX(150vw); }
}
//category
.category{display: flex; flex-direction: column; min-height: 100vh;}
.main{flex: 1 1 auto; padding-top: 76px;}
.sidebar{
  width: vw(324px); border-right: 1px solid var(--gray);
  .menu{
    display: block;
    li{border-bottom: 1px solid var(--gray);}
    a{display: block; padding: vw(26px) vw(46px); color: var(--gray); letter-spacing: -0.216px; position: relative;}
    .active{color: #fff;}
    .active::before{
      content: "";
      width: vw(12px); height: vw(12px); background: url("#{$img-path}/icon-mn.svg") no-repeat 0 0/contain;
      position: absolute; top: 50%; transform: translateY(-50%); left: vw(24px);
    }
  }
}
.main-content{
  width: calc(100% - 16.875vw); position: relative;
  h2{text-transform: uppercase;}
  .col-left{width: vw(952px); border-right: 1px solid var(--gray);}
  .col-right{width: vw(632px);}
  .tab-content,.tab-pane{height: 100%;}
  .tab-vpn{
    .box-content{flex-wrap: nowrap;}
    .img-wrapper{width: vw(752px);}
    .box-text{
      p{width: vw(688px);}
    }
  }
  .tab-security{
    &::after{
      content: "";
      width: vw(1196px); height: vw(712px);
      background: url("#{$img-path}/ellipse-2.svg") no-repeat 0 0/contain;
      position: absolute; right: 0; top: vw(180px); z-index: -1;
    }
    .box-text{
      width: vw(816px);
      p{width: vw(640px);}
    }
    .img-wrapper{margin-right: vw(60px); width: vw(508px);}
  }
  .tab-download{
    padding-bottom: 60px;
    .box-text{
      width: 100%;
      p{width: vw(640px);}
    }
    .img-wrapper{width: vw(680px); margin: vw(-150px) vw(60px) 0 auto;}
  }
  .tab-pricing{
    .box-text{width: vw(640px);}
    .box-content{min-height: 100%;}
  }
  .box-content{padding: vw(44px); justify-content: space-between;}
  .box-text{
    h2{margin-bottom: vw(32px); font: vw(98px) var(--HelveticaNeue); text-transform: uppercase; letter-spacing: -0.98px;}
    p{margin-bottom: vw(56px); color: var(--gray); letter-spacing: -0.216px;}
    .btn-pr{min-width: 192px;}
  }
}
.feature{
  border-top: 1px solid var(--gray);
  border-bottom: 1px solid var(--gray);
  margin-bottom: -1px;
  >*+*{border-left: 1px solid var(--gray);}
  h4{margin-bottom: 14px; letter-spacing: -0.216px; text-transform: uppercase;}
  p{letter-spacing: -0.42px; line-height: 20px;}
  .item{
    padding: vw(40px) vw(24px);
    .icon{width: 56px;}
    .content{width: calc(100% - 56px); padding-left: vw(20px);}
    &--1{width: 23%;}
    &--2{width: 42%;}
    &--3{width: 35%;}
  }
}
.feature-security{
  margin-top: vw(30px);
  padding: vw(46px);
  display: grid; grid-template-columns: repeat(3,1fr);
  grid-gap: vw(160px);
  h4{margin: 14px 0; font-size: 20px; line-height: 32px;}
}
.work{
  margin-top: vw(124px);
  ul{position: relative;}
  ul::after{
    content: "";
    width: 1px; height: 80%;
    background: var(--gray);
    position: absolute; top: 10px; left: 24px; z-index: -1;
  }
  h3{margin-bottom: 24px; font-size: 28px; line-height: 1.4; letter-spacing: -0.56px;}
  li{display: flex; align-items: flex-start;}
  li:nth-child(1){margin-bottom: 48px;}
  li:nth-child(2){margin-bottom: 68px;}
  .number{
    width: 48px; height: 48px; margin-top: 6px;
    display: flex; align-items: center; justify-content: center;
    background: #0A0B0D;
    border-radius: 50%;
    font-family: var(--Helvetica);
    border: 1px solid var(--gray);
    letter-spacing: -0.036px;
  }
  .content{
    max-width: 372px; margin-left: 34px;
    p{max-width: 100%;}
  }
  h4{margin-bottom: 14px; font-size: 20px; color: #80EC40; text-transform: uppercase;}
  p{letter-spacing: -0.42px;}
  span{color: #fff;}
}
.box-price{
  width: vw(548px); margin: vw(-44px) 0;
  border: 1px solid var(--gray); border-bottom: none;
  >*+*{border-top: 1px solid var(--gray);}
  .item{padding: vw(60px) vw(80px);}
  ul{
    >*+*{margin-top: vw(60px);}
    li{display: flex; align-items: center;}
    p,span{width: 50%; letter-spacing: -0.216px;}
    p{color: var(--gray);}
    span{text-align: right;}
  }
  .total{
    p,span{width: 50%; letter-spacing: -0.216px;}
    p{color: #fff;}
    span{text-align: right; color: #80EC40;}
  }
  .btn-pr{width: 100%; margin-top: vw(60px);}
}
.wallet{
  padding: vw(40px) vw(56px); border-bottom: 1px solid var(--gray); min-height: vw(390px); overflow: hidden;
  .btn-sub{
    margin-top: vw(44px); min-width: 192px;
    &.active{background: #80EC40; color: #0A0B0D;}
  }
  .scan-animation{
    width: 100%; height: 100%;
    background: url("#{$img-path}/scan.svg") no-repeat right center/cover;
    position: absolute; bottom: 0; left: -100%; display: none;
    &.active{animation: scanning 2s linear infinite; display: block;}
  }
}
.scan-history{
  padding: vw(40px) vw(56px);
  .box-table{
    margin-top: vw(40px); width: 100%; overflow: auto;
    table{width: 100%; min-width: 420px;}
    th{font-weight: 500; font-size: 14px;}
    th:last-child{text-align: center;}
    th,td{border-bottom: 1px solid var(--gray);}
    th{padding: vw(20px) vw(32px);}
    td{padding: vw(28px) vw(32px); font-size: 16px; line-height: 24px;}
    p{color: #80EC40;}
    .status{
      width: 90px; height: 24px; display: block; margin: 0 auto;
      background: #1C1E20; border-radius: 9999px;
      font-size: 12px;
      text-align: center; line-height: 24px;
      &.bad{color: #DE3611;}
      &.good{color: #80EC40;}
      &.excellent{color: #00DFED;}
    }
  }
}
.security-score{
  padding: vw(40px) vw(56px);
  .not-connect{min-height: vw(720px);}
  .percent{
    margin: vw(32px) 0;
    font-weight: 300;
    font-size: vw(164px); line-height: 1.1;
  }
  .progress{height: vw(60px); margin-bottom: vw(32px); border-radius: 0; transition: 1s ease-out;}
  .box-score{
    &.excellent{
      .progress{background: #00DFED;}
      .status{color: #00DFED;}
    }
    &.good{
      .progress{background: #80EC40;}
      .status{color: #80EC40;}
    }
    &.bad{
      .progress{background: #DE3611;}
      .status{color: #DE3611;}
    }
    .status{text-transform: uppercase;}
  }
  .scan-lasttime{
    margin-top: vw(56px);
    ul{
      margin-top: vw(32px); color: var(--gray);  justify-content: space-between;
      li{width: 48%; display: flex; justify-content: space-between; margin-bottom: 30px;}
      h5{width: 40%;}
      p,div{width: 60%;}
      h5{margin-bottom: 0; font-size: 16px; font-weight: 400;}
      p{font-weight: 500; font-size: 16px; line-height: 24px;}
      .risk{color: #fff;}
      .name{color: #80EC40;}
    }
    .status{
      width: 90px; height: 24px; display: block;
      background: #1C1E20; border-radius: 9999px;
      font-size: 12px;
      text-align: center; line-height: 24px;
      &.bad{color: #DE3611;}
      &.good{color: #80EC40;}
      &.excellent{color: #00DFED;}
    }
  }
}
.not-connect{
  flex-direction: column; min-height: vw(520px); padding: 20px 0;
  p{max-width: 162px; margin: 24px auto 0; text-align: center;}
}

footer{
  border-top: 1px solid #505558;
  position: relative;
  font-size: 16px; line-height: 24px;
  .content{padding: 50px vw(103px) 0; flex-wrap: nowrap;}
  .menu{
    display: flex; padding: 10px 0; margin: 0 vw(131px);
    justify-content: space-between;
    flex: 1 1 auto;
    a{font-size: 18px; line-height: 28px; font-weight: 500; letter-spacing: -0.216px; color: #fff;}
    a:hover{color: #80EC40;}
  }
  .get-app{
    max-width: 258px; margin-left: auto;
    p{color: rgba(#fff,.5); text-align: right;}
    .btn-pr{width: 192px; display: block; margin: 40px 0 0 auto;}
  }
  .text{
    margin-top: 100px; padding: 0 6px;
    img{display: block; margin: 0 auto;}
  }
}

//uikit

.pr{position: relative;}
.pa{position: absolute;}
li{list-style: none;}
.grid{display: grid;}
.container{max-width: 1470px; position: relative; z-index: 2;}
.social{
  >*+*{margin-left: vw(22px);}
  a{display: block; font-size: 0; width: 32px; height: 32px;}
  a:hover{filter: brightness(100%) drop-shadow(rgb(0, 132, 42) 0px 0px 10px) drop-shadow(rgb(0, 134, 105) 0px 0px 16px) drop-shadow(rgba(0, 232, 112, 0.8) 0px 0px 40px);}
}

.btn-pr{
  display: inline-block;
  padding: 10px 27px;
  background: #fff;
  border-radius: 9999px;
  color: #0A0B0D;
  font-size: 16px; line-height: 24px;
  font-family: var(--HelveticaNeueMedium);
  text-transform: uppercase;
  text-align: center;
  .icon{width: 22px; height: 22px; margin-left: 8px; display: block;}
  &:hover{color: #0A0B0D; background: #80EC40;}
}
.btn-sub{
  display: inline-block;
  padding: 11px 20px;
  font: 18px/28px var(--HelveticaNeueMedium);
  background: #0A0B0D;
  border: 1px solid #505558;
  border-radius: 9999px;
  letter-spacing: -0.036px;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  &:hover{color: #0A0B0D; background: #80EC40;}
}
.w-full{width: 100%;}
.px-gua{padding-left: vw(105px); padding-right: vw(105px);}

h2.title{
  height: vw(384px);
  font-weight: 300;
  font-size: vw(302px);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.27;
  overflow: hidden;
  &.active span{transform: translateY(0);}
  span{display: block;}
}
.img-fit{width: 100%; height: 100%; object-fit: cover;}

.text-xs{font-size: 12px; line-height: 16px;}
.text-md{font-size: 16px; line-height: 24px;}
.text-lg{font-size: 18px; line-height: 28px;}
.text-xl{font-size: 28px; line-height: 40px; letter-spacing: -0.56px;}
.text-cl-m{font: 20px/32px var(--ClashDisplayMedium);}
.font-bold{font-weight: 700;}
.font-medium{font-weight: 500;}
.text-green{color: #A3FEA6;}
.text-red{color: #E52A4B;}
.text-cyan{color: #80EC40;}
.text-gray{color: var(--gray);}
button{
  background: none; padding: 0; cursor: pointer; border: none; transition: .25s;
  &:focus{outline: none;}
}

.circles {
  height: 80px;
  position: absolute;
  width: 80px;
  top: -16px; left: -18px;

  > div {
    animation: growAndFade 4s infinite ease-out;
    background-color: #4ca5b7;
    border-radius: 50%;
    height: 100%;
    opacity: 0;
    position: absolute;
    width: 100%;
  }

  .circle1 {
    animation-delay: 1s;
  }
  .circle2 {
    animation-delay: 2s;
  }
  .circle3 {
    animation-delay: 3s;
  }
}

@keyframes growAndFade {
  0% {
    opacity: .25;
    transform: scale(0);
  }
  100% {
    opacity: 0;
    transform: scale(1.6);
  }
}


@keyframes light {
  0%{
    filter: saturate(1);
  }
  50%{
    filter: saturate(3.1);
  }
  100%{
    filter: saturate(1);
  }
}
@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }

  100%{
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50%{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
@-webkit-keyframes flash {
  0%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  50%{
    -webkit-filter: blur(1px);
    filter: blur(1px);
  }
  100%{
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
.flash{
  animation-name: flash;
  -webkit-animation-name: flash;
}
@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes hue {
  0%{
    filter: hue-rotate(0deg);
    transform: scale3d(1, 1, 1);
  }
  10%{
    filter: hue-rotate(20deg);
  }
  20%{
    filter: hue-rotate(45deg);
  }
  30%{
    filter: hue-rotate(90deg);
  }
  40%{
    filter: hue-rotate(110deg);
  }
  50%{
    filter: hue-rotate(180deg);
    transform: scale3d(1.02, 1.02, 1.02);
  }
  60%{
    filter: hue-rotate(200deg);
  }
  70%{
    filter: hue-rotate(240deg);
  }
  80%{
    filter: hue-rotate(240deg);
  }
  90%{
    filter: hue-rotate(280deg);
  }
  100%{
    filter: hue-rotate(360deg);
    transform: scale3d(1, 1, 1);
  }
}