@media (max-width: 1440px) {
  header{
    .btn-pr{min-width: auto;}
  }
  .navbar{padding: 14px;}
  .navbar-nav{
    &.nav-category{
      > *+*{margin-left: vw(80px);}
    }
    > li > a{font-size: 16px; line-height: 24px;}
  }
  .feature-security{
    h4{font-size: 16px; line-height: 24px;}
  }


  footer{
    .menu{
      margin: 0 vw(60px);
      a{font-size: 16px; line-height: 24px;}
    }
    .content{padding: 40px 15px 0;}
    .text{margin-top: 60px;}
    .get-app .btn-pr{margin-top: 30px;}
  }
  .btn-pr{font-size: 14px; line-height: 20px;}
  .text-lg{font-size: 16px; line-height: 24px;}
}


@media (max-width: 1024px) {
  header{
    .social{margin: 0 auto;}
    .navbar-toggle{display: block; position: absolute; right: 15px;}
    .btn-pr{margin: 10px auto 0;}
  }
  .navbar{
    width: 100%; padding: 10px 15px; min-height: auto; justify-content: flex-start;
  }
  .navbar-collapse{
    display: flex; flex-direction: column;
    align-items: flex-start;
    position: fixed; top: -100%; left: 0;
    width: 100%; height: auto;
    border-radius: 0 0 53px 53px;
    padding: 0 0 30px;
    background: #0a0b0d;
    transition: all .4s ease-out;
    z-index: 91; overflow: auto;
    >*{opacity: 0;}
    &.show{
      top: 0;
      >*{opacity: 1;}
    }
  }
  .navbar-toggle{
    display: block;
    width: 18px;
    height: 12px;
    padding: 0;
    background: none; border: none;
    span{
      display: block; width: 18px; height: 2px; border-radius: 2px;
      background: #fff; position: absolute; top: 50%; transform: translateY(-50%); transition: .3s;
    }
    span:before,span:after{
      content: ''; display: block; width: 18px; height: 2px; background: #fff; position: absolute; border-radius: 2px;
    }
    span:before{top: -6px;}
    span:after{bottom: -6px;}
  }
  .navbar-toggle.active{
    z-index: 99;
    span{width: 18px; transform: rotate(45deg);}
    span:after{width: 16px;}
    span:before{top: 0;  transform: rotate(90deg);}
    span:after{opacity: 0;}
  }
  .navbar-nav{
    width: 100%;
    display: block;
    margin: 0;
    padding: 80px 15px 30px;
    >*+*{margin: 30px 0 0;}
    > li{justify-content: center; display: flex;}
    > li > a{line-height: inherit; padding: 0;}
    a{text-align: center; font-size: 16px;}
    .active::after{display: none;}
  }

  .main{padding-top: 69px;}
  .guardian-s3{
    .ecosystem{
      grid-column-gap: 24px;
      .content{width: calc(100% - 100px);}
      .img-wrapper{width: 100px;}
    }
  }
  .guardian-s5{
    .roadmap{
      .box-list{
        padding: 4px 0;
        overflow-x: auto; overflow-y: hidden;
      }
      ul{min-width: 660px;}
      .item{width: 100%;}
      .item:nth-child(odd){
        ul{
          flex-wrap: nowrap; position: relative;
          li{width: 22%;}
          li:last-child{
            position: absolute; right: 0; text-align: right;
            &::before{right: 0;}
            span{position: absolute; right: 0; text-align: left;}
          }
        }
      }
      .item:nth-child(even){
        ul{
          li{width: 22%;}
          li:last-child{
            span{right: 0;}
            &::before{right: 0;}
          }
        }
      }
    }
    .scan-animation{height: 90%;}
  }
  .guardian-s6{
    .tab-content p{font-size: 18px; line-height: 28px;}
  }

  //category
  .main-content{
    .tab-download{
      .img-wrapper{position: absolute; right: 0; top: vwm(70px);}
    }
  }
  .work{
    .content{margin-left: 14px; max-width: 45%;}
    h4{font-size: 18px;}
  }
  .feature{
    .item{
      display: block;
      .content{width: 100%; padding: 14px 0 0;}
    }
  }
  .scan-history{
    .box-table{
      margin-top: 20px;
      th{padding: 5px 8px;}
      td{padding: 5px 8px; font-size: 15px; line-height: 20px;}
    }
  }
  .security-score{
    .scan-lasttime{
      ul{
        li{width: 100%; margin-bottom: 15px;}
        p{font-size: 15px; line-height: 20px;}
      }
    }
  }

}

@media (max-width: 767px) {
  .guardian-s1{
    .des{margin: 15px 15px 20px;}
  }
  .guardian-s2{
    padding-top: 20px; padding-bottom: 20px;
    &::after{width: 140%;}
    .item{
      .col-left,.col-right{width: 100%;}
      .col-right{padding-left: 0; margin-top: 20px;}
      h3{font-size: 30px;}
    }
  }
  .guardian-s3{
    .ecosystem{
      grid-template-columns: repeat(1,1fr);
      grid-row-gap: 80px;
      .item:nth-child(even){
        flex-direction: row-reverse;
        > .content{padding-left: 15px;}
      }
      h4{margin-bottom: 15px; font-size: 28px;}
    }
    .box-hover{
      &::after{
        width: 100%; height: 190px;
      }
      .item-hv{width: 100%;}
      .box-video{width: 80%; margin: 0 auto;}
      .item-hv{margin-bottom: 20px;}
    }
    .box-marquee{
      padding: 10px 0;
      span{padding: 0 10px; font-size: 16px;}
    }
  }
  .guardian-s4{
    .guide-list{
      .item{flex-wrap: wrap; flex-direction: column-reverse;}
      .box-text{max-width: 100%; padding-top: 0;}
      .img-wrapper{max-width: 100%; margin-bottom: 20px;}
      h4{font-size: 22px;}
    }
    .slick-dots{
      margin-top: 30px;
      position: relative; justify-content: center;
      >*+*{margin-left: 60px;}
      >*+*::after{width: 60px; bottom: 5px; right: 10px;}
      button{width: 10px; height: 10px;}
    }
    .btn-download{width: 160px; height: 36px;}
    h3{margin-bottom: 20px; font-size: 30px;}
  }
  .guardian-s5{
    .roadmap{
      .roadmap-item{padding-top: 80px;}
    }
    .scan-animation.active{width: 85%;}
  }
  .guardian-s6{
    padding-top: 100px; padding-bottom: 60px;
    h2.title{font-size: 30px;}
    .box-faq::before{width: 60px; height: 60px; top: -100px;}
    .list-question,.tab-content{width: 100%;}
    .list-question{
      margin-bottom: 30px;
      a{padding: 15px 0;}
    }
    .tab-content{
      p{font-size: 17px;}
    }
  }
  .guardian-s7{
    padding-top: 30px; padding-bottom: 30px;
    .content{
      width: 80%;
      span{font-size: 24px;}
    }
    .btn-enterapp{
      width: 60px; height: 60px; right: 15px;
      font-size: 12px;
    }
  }
  .cube{
    height: auto; overflow: hidden;
    img{min-height: 400px; object-fit: cover;}
  }

  .main{flex: inherit;}
  .sidebar,.main-content{width: 100%;}
  .sidebar{
    border-right: none; border-bottom: 1px solid var(--gray); overflow: auto;
    .menu{
      display: flex; flex-wrap: nowrap;
      li{border-bottom: none;}
      a{padding: 10px 15px; white-space: nowrap;}
      .active::before{width: 6px; height: 6px; left: 6px;}
    }
  }
  .main-content{
    .col-left,.col-right{width: 100%;}
    .tab-vpn{
     .box-text p{width: 100%;}
      .img-wrapper{width: 50%;}
    }
    .box-content{padding: 36px 15px;}
    .box-text{
      width: 50%;
      h2{margin-bottom: 28px; font-size: 34px;}
      p{margin-bottom: 20px;}
    }
  }
  .wallet{
    min-height: 260px; padding: 20px 15px;
    .btn-sub{margin-top: 24px; min-width: 160px;}
  }
  .scan-history,.security-score{padding: 20px 15px;}
  .security-score{
    .percent{font-size: 68px; margin: 24px 0;}
    .progress{height: 30px; margin-bottom: 24px;}
    .scan-lasttime{margin-top: 40px;}
    .not-connect{min-height: 300px;}
  }
  .not-connect{min-height: 300px;}

  footer{
    margin-top: 0px;
    .content{flex-wrap: wrap;}
    .logo{margin: 0 auto;}
    .menu{
      width: 100%; margin: 20px 0; display: block; text-align: center;
      >*+*{margin-top: 20px;}
      a{font-size: 14px; line-height: 18px;}
    }
    .get-app{
      max-width: 100%; margin: 0 auto;
      p{text-align: center;}
      .btn-pr{margin: 20px auto 0;}
    }
  }
  .home footer .menu{
    display: flex;
    >*+*{margin-top: 0;}
  }
  .text-lg{font-size: 15px;}
  .text-xl{font-size: 24px; line-height: 36px;}
  @keyframes scanning {
    100% { transform: translateX(200vw); }
  }
}

@media (max-width: 480px) {
  .main-content{
    .tab-vpn{
      .box-content{flex-direction: column-reverse;}
      .img-wrapper{width: 100%;}
    }
    .tab-security{
      .box-content{flex-direction: column-reverse;}
      .box-text{
        width: 100%;
        p{width: 100%;}
      }
      .img-wrapper{width: 100%;}
    }
    .tab-download{
      .box-text{
        width: 100%; order: 2;
        p{width: 100%;}
      }
      .work{order: 3;}
      .img-wrapper{width: 100%; position: relative; top: 0; margin: 0; order: 1;}
    }
    .tab-pricing{
      .box-text{width: 100%; margin-top: 0;}
    }
    .box-text{
      width: 100%; margin-top: 30px; text-align: center;
    }
  }
  .feature{
    border-bottom: none;
    >*+*{border-left: none;}
    .item{width: 100%; padding: 20px 15px;}
  }
  .feature-security{padding: 20px 15px; grid-template-columns: repeat(1,1fr);}
  .work{
    margin-top: 60px;
    .content{max-width: calc(100% - 62px);}
  }
  .box-price{
    width: 100%;
    margin: 40px 0;
    border-bottom: 1px solid var(--gray);
    .item{padding: 20px 15px;}
    ul{
      >*+*{margin-top: 20px;}
    }
    .btn-pr{margin-top: 40px;}
  }
}

